{
  "openapi": "3.1.0",
    "info": {
    "description": "Grafeno Digital",
    "version": "v2.0.0",
    "title": "Pagamentos",
    "termsOfService": "https://docs.grafeno.digital/reference/termos-de-uso-e-pol%C3%ADticas-de-privacidade",
    "contact": {
      "email": "integracao@grafeno.digital"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://pagamentos.grafeno.be/api/v2"
    }
  ],
  "tags": [
    {
      "name": "Extratos",
      "description": "Endpoints relacionados as contas grafeno."
    },
    {
      "name": "Cobranças",
      "description": "Endpoints relacionados as cobranças."
    },
    {
      "name": "Gestão de Titularidades",
      "description": "Endpoints relacionados a gestão de titularidades"
    },
    {
      "name": "Beneficiários",
      "description": "Endpoints relacionados aos beneficiários das contas grafeno."
    },
    {
      "name": "Transferências",
      "description": "Endpoints relacionado a transferências"
    },
    {
      "name": "Webhooks (Notificações)",
      "description": "Endpoints relacionados a gestão dos webhooks das contas grafeno."
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "Account-Number"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "x-bearer-format": ""
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/charges": {
      "post": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Criar uma cobrança",
        "description": "Este recurso permite a criação de uma cobrança.",
        "operationId": "create-charge",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "paymentMethod",
                  "dueDate",
                  "value"
                ],
                "properties": {
                  "paymentMethod": {
                    "type": "string",
                    "description": "Método de pagamento da cobrança.<br>Valores permitidos: <code>boleto</code>, <code>pix</code> e <code>ted</code> .",
                    "enum": [
                      "boleto",
                      "ted",
                      "pix"
                    ]
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "Data de vencimento da cobrança.<br>Formato: <code>YYYY-MM-DD</code>.",
                    "format": "date"
                  },
                  "value": {
                    "type": "number",
                    "description": "Valor da cobrança. <code>precisão 2</code>.",
                    "format": "double"
                  },
                  "abatementValue": {
                    "type": "number",
                    "description": "Valor do Abatimento. <code>precisão 2</code>.",
                    "format": "double"
                  },
                  "abatement": {
                    "type": "number",
                    "description": "Valor do abatimento em percentual. <code>precisão 2</code><br>(Será desconsiderado, caso <code>abatementValue</code> seja informado).",
                    "format": "double"
                  },
                  "interestType": {
                    "type": "string",
                    "description": "Tipo de juros que será aplicado a cobrança.<br>Valores permitidos <code>fixed_value</code> ou <code>percentage</code>.",
                    "enum": [
                      "fixed_value",
                      "percentage"
                    ]
                  },
                  "interestValue": {
                    "type": "number",
                    "description": "Valor dos juros por mês. Valores inteiros ou decimais com <code>precisão 2</code>.",
                    "format": "double"
                  },
                  "applicableFine": {
                    "type": "number",
                    "description": "Multa por atraso. <code>precisão 2</code>.",
                    "format": "double"
                  },
                  "clientControlNumber": {
                    "type": "string",
                    "description": "Identificador próprio de uso da empresa. <br><code>Alfanumérico - 25 caracteres</code>"
                  },
                  "expiresAfter": {
                    "type": "integer",
                    "description": "Dias para baixa após o vencimento.",
                    "format": "int32"
                  },
                  "discount": {
                    "type": "object",
                    "description": "Desconto aplicado na cobrança.",
                    "properties": {
                      "range": {
                        "type": "string",
                        "description": "Data limite para aplicação do desconto.",
                        "format": "date"
                      },
                      "discountType": {
                        "type": "string",
                        "description": "tipo do desconto. valores possíveis fixed e percentage.",
                        "enum": [
                          "fixed_value",
                          "percentage"
                        ]
                      },
                      "discountValue": {
                        "type": "number",
                        "description": "Valor do desconto.",
                        "format": "float"
                      }
                    }
                  },
                  "payer": {
                    "type": "object",
                    "description": "Dados do pagador da cobrança. <br>Caso o pagador já esteja cadastrado, é possível enviar apenas o <code>documentNumber</code> que a API completará os demais dados.",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome do pagador."
                      },
                      "documentNumber": {
                        "type": "string",
                        "description": "Documento do pagador."
                      },
                      "email": {
                        "type": "string",
                        "description": "E-mail do pagador."
                      },
                      "address": {
                        "type": "object",
                        "description": "Endereço do pagador.",
                        "properties": {
                          "street": {
                            "type": "string",
                            "description": "Rua do endereço do pagador."
                          },
                          "neighborhood": {
                            "type": "string",
                            "description": "Bairro do pagador."
                          },
                          "number": {
                            "type": "string",
                            "description": "número da residência do pagador."
                          },
                          "state": {
                            "type": "string",
                            "description": "Estado do endereço do pagador."
                          },
                          "city": {
                            "type": "string",
                            "description": "Cidade do endereço do pagador."
                          },
                          "zipCode": {
                            "type": "string",
                            "description": "CEP do pagador."
                          },
                          "complement": {
                            "type": "string",
                            "description": "Complemento do endereço do pagador."
                          },
                          "country": {
                            "type": "string",
                            "description": "País do pagador."
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "description": "Telefone do pagador.",
                        "properties": {
                          "number": {
                            "type": "string",
                            "description": "Número do telefone do pagador."
                          },
                          "areaCode": {
                            "type": "string",
                            "description": "Código de área do pagador."
                          },
                          "countryCode": {
                            "type": "string",
                            "description": "Código do país do pagador."
                          }
                        }
                      }
                    }
                  },
                  "boletoDetails": {
                    "type": "object",
                    "description": "Atributos do boleto bancário.",
                    "properties": {
                      "ourNumber": {
                        "type": "string",
                        "description": "Nosso número do boleto"
                      },
                      "yourNumber": {
                        "type": "string",
                        "description": "Seu número do boleto"
                      },
                      "registrationMethod": {
                        "type": "string",
                        "description": "Método de registro do boleto. Valores possíveis: online e offline.",
                        "default": "online",
                        "enum": [
                          "online",
                          "offline"
                        ]
                      },
                      "messagingRuleId": {
                        "type": "string",
                        "description": "Régua de cobrança."
                      },
                      "titleType": {
                        "type": "string",
                        "description": "Natureza da cobrança.",
                        "default": "several",
                        "enum": [
                          "several",
                          "trade_bill",
                          "promissory_note",
                          "insurance_note",
                          "monthly_tuition",
                          "receipt",
                          "contract",
                          "cosseguros",
                          "service_bill",
                          "bill_exchange",
                          "debit_note",
                          "debt_document",
                          "condominium_fees",
                          "service_account"
                        ]
                      },
                      "observation": {
                        "type": "string",
                        "description": "Instruções do boleto bancário."
                      }
                    }
                  },
                  "grantor": {
                    "type": "object",
                    "description": "Dados do Sacador / Avalista. *Obrigatório para abertura de protesto.*",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome do Sacador / Avalista"
                      },
                      "documentNumber": {
                        "type": "string",
                        "description": "CPF ou CNPJ do Sacador / Avalista"
                      },
                      "Address": {
                        "type": "object",
                        "description": "Endereço do Sacador / Avalista. <b> Obrigatório para abertura de protestos </b>",
                        "properties": {
                          "street": {
                            "type": "string",
                            "description": "Rua do endereço do pagador."
                          },
                          "neighborhood": {
                            "type": "string",
                            "description": "Bairro do pagador."
                          },
                          "number": {
                            "type": "string",
                            "description": "número da residência do pagador."
                          },
                          "state": {
                            "type": "string",
                            "description": "Estado do endereço do pagador."
                          },
                          "city": {
                            "type": "string",
                            "description": "Cidade do endereço do pagador."
                          },
                          "zipCode": {
                            "type": "string",
                            "description": "CEP do pagador."
                          },
                          "complement": {
                            "type": "string",
                            "description": "Complemento do endereço do pagador."
                          },
                          "country": {
                            "type": "string",
                            "description": "País do pagador."
                          }
                        }
                      }
                    }
                  },
                  "receiptNumber": {
                    "type": "string",
                    "description": "Número da nota fiscal vinculada a cobrança."
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "paymentMethod": "boleto",
                    "discount": {
                      "range": "2024-09-01",
                      "discountType": "percentage",
                      "discountValue": 5
                    },
                    "payer": {
                      "address": {
                        "street": "Dr Albuquerque Lins",
                        "neighborhood": "Santa Cecília",
                        "number": "4321",
                        "state": "SP",
                        "city": "São Paulo",
                        "zipCode": "01230000",
                        "complement": "ap 206",
                        "country": "BR"
                      },
                      "phone": {
                        "number": "988776655",
                        "areaCode": "11",
                        "countryCode": "55"
                      },
                      "name": "Andy Bernard",
                      "documentNumber": "12345679891",
                      "email": "nard.dog@cornell.edu"
                    },
                    "boletoDetails": {
                      "registrationMethod": "online",
                      "titleType": "several",
                      "ourNumber": "225700008091",
                      "yourNumber": "43212025",
                      "observation": "Pagar somente na rede bancária."
                    },
                    "grantor": {
                      "name": "Erin Hannon",
                      "documentNumber": "88771518460",
                      "address": {
                        "street": "Dr Albuquerque Lins",
                        "neighborhood": "Santa Cecília",
                        "number": "444",
                        "state": "SP",
                        "city": "São Paulo",
                        "zipCode": "01230000",
                        "complement": "ap 206",
                        "country": "BR"
                      }
                    },
                    "dueDate": "2025-01-01",
                    "value": 978.9,
                    "abatementValue": 2,
                    "abatement": 2,
                    "interestType": "fixed_value",
                    "interestValue": 25.99,
                    "applicableFine": 1.5,
                    "clientControlNumber": "CHARGE-00001",
                    "expiresAfter": 60,
                    "receiptNumber": "32191105570714000825550010059146622233082968"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"id\": \"0e683d5d-61ce-445b-928e-3cc3340c0eda\",\n    \"type\": \"charge\",\n    \"attributes\": {\n      \"createdAt\": \"2023-12-07T13:27:23.653-03:00\",\n      \"updatedAt\": \"2023-12-07T13:27:23.653-03:00\",\n      \"status\": \"pending\",\n      \"paymentMethod\": \"boleto\",\n      \"dueDate\": \"2023-12-10\",\n      \"value\": 50,\n      \"discount\": {\n        \"range\": \"2023-12-08\",\n        \"discountType\": \"percentage\",\n        \"discountValue\": 5\n      },\n      \"abatementValue\": 5.2,\n      \"interestType\": \"percentage\",\n      \"interestValue\": 2,\n      \"applicableFine\": 2,\n      \"payer\": {\n        \"data\": {\n          \"type\": \"payer\",\n          \"attributes\": {\n            \"name\": \"Han Solo\",\n            \"documentNumber\": \"12345679891\",\n            \"email\": \"han.solo@dunder-mifflin.paper\",\n            \"address\": {\n              \"street\": \"Rua Dr. Albuquerque Lins\",\n              \"number\": \"2222\",\n              \"complement\": \"Apt 222\",\n              \"zipCode\": \"01230-000\",\n              \"neighborhood\": \"Santa Cecília\",\n              \"city\": \"São Paulo\",\n              \"state\": \"SP\"\n            },\n            \"phone\": {\n              \"countryCode\": \"55\",\n              \"areaCode\": \"51\",\n              \"number\": \"995562211\"\n            }\n          }\n        }\n      },\n      \"grantor\": {\n        \"data\": {\n          \"type\": \"grantor\",\n          \"attributes\": {\n            \"name\": \"Harrison Ford\",\n            \"documentNumber\": \"88650081000116\",\n            \"address\": {\n              \"street\": \"Avenida Vinte de Setembro\",\n              \"number\": \"456\",\n              \"complement\": \"Apto 987\",\n              \"zipCode\": \"93819-300\",\n              \"neighborhood\": \"São Jacó\",\n              \"city\": \"Sapiranga\",\n              \"state\": \"RS\"\n            }\n          }\n        }\n      },\n      \"fees\": {\n        \"data\": []\n      },\n      \"boleto\": {\n        \"data\": {\n          \"id\": \"a55b20c8-7896-44a2-8b42-53137cd09208\",\n          \"type\": \"boleto\",\n          \"attributes\": {\n            \"ourNumber\": 00000004321,\n            \"ourNumberDv\": 8,\n            \"barCode\": null,\n            \"emv\": null,\n            \"image\": null,\n            \"quickPdfUrl\": null,\n            \"lineCode\": null,\n            \"registrationStatus\": null,\n            \"pdf\": \"https://pagamentos.grafeno.be/charges/0e683d5d-61ce-445b-928e-3cc3340c0eda/download_boleto\",\n            \"yourNumber\": \"11119998\",\n            \"registrationMethod\": \"online\",\n            \"messagingRuleId\": \"589f899a-9650-45ce-aeda-937f49c27156\",\n            \"observation\": \"Sr(a) caixa, não receber o boleto após o vencimento\"\n          }\n        }\n      },\n      \"payments\": {\n        \"data\": []\n      },\n      \"clientControlNumber\": \"7543649847645556555553425\",\n      \"origin\": \"api\",\n      \"receiptNumber\": \"51080701212344000127550010000000981364117781\",\n      \"expiresAfter\": 90,\n      \"titleType\": \"monthly_tuition\"\n    }\n  }\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Número de conta inválido.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "Unauthorized"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": {\n        \"id\": \"\",\n        \"type\": \"charge\",\n        \"errors\": [\n            {\n                \"field\": \"field name\",\n                \"messages\": [\n                    \"simple error message\"\n                ]\n            }\n        ]\n    },\n    \"success\": false,\n    \"message\": \"complete error message\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": ""
                        },
                        "type": {
                          "type": "string",
                          "example": "charge"
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "field name"
                              },
                              "messages": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "simple error message"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "complete error message"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Listar cobranças",
        "description": "Este recurso retorna uma lista com todas as cobranças já criadas.",
        "operationId": "list-charges",
        "parameters": [
          {
            "name": "q[createdAtEq]",
            "in": "query",
            "description": "Data de criação da cobrança  igual a. <br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[createdAtGt]",
            "in": "query",
            "description": "Data de criação da cobrança <b>maior que. </b><br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[createdAtLt]",
            "in": "query",
            "description": "Data de criação da cobrança <b>menor que. </b><br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[paidAtEq]",
            "in": "query",
            "description": "Data do pagamento da cobrança <b> igual a. </b><br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[paidAtGt]",
            "in": "query",
            "description": "Data de pagamento da cobrança <b>maior que. </b><br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[paidAtLt]",
            "in": "query",
            "description": "Data de pagamento da cobrança <b>menor que. </b> <br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[statusEq]",
            "in": "query",
            "description": "Status da cobrança igual a. <br>valores permitidos: <code>pending</code> (pendente), <code>paid</code> (paga), <code>paid_externally</code> (baixada)",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "paid",
                "paid_externally",
                "canceled"
              ]
            }
          },
          {
            "name": "q[paymentMethodEq]",
            "in": "query",
            "description": "Método de pagamento da cobrança igual a. <br>valores permitidos: <code>ted</code> ou <code>boleto</code>",
            "schema": {
              "type": "string",
              "enum": [
                "boleto",
                "pix",
                "ted"
              ]
            }
          },
          {
            "name": "q[dueDateEq]",
            "in": "query",
            "description": "Data de vencimento da cobrança igual a. <br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[dueDateGt]",
            "in": "query",
            "description": "Data de vencimento da cobrança <b>maior que. </b> <br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[dueDateLt]",
            "in": "query",
            "description": "Data de vencimento da cobrança <b>menor que. </b> <br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[yourNumberEq]",
            "in": "query",
            "description": "Seu número do boleto bancário igual a.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q[receivedAtEq]",
            "in": "query",
            "description": "Data de liquidação do pagamento da cobrança <b>igual a. </b><br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[receivedAtGt]",
            "in": "query",
            "description": "Data de liquidação do pagamento da cobrança <b>maior que</b><br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[receivedAtLt]",
            "in": "query",
            "description": "Data de liquidação do pagamento da cobrança <b>menor que</b> <br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Número da página que será retornada.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens que serão retornados por página.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": [\n        {\n            \"id\": \"0e683d5d-61ce-445b-928e-3cc3340c0eda\",\n            \"type\": \"charge\",\n            \"attributes\": {\n                \"createdAt\": \"2023-12-07T13:27:23.653-03:00\",\n                \"updatedAt\": \"2023-12-07T15:02:02.101-03:00\",\n                \"origin\": \"api\",\n                \"status\": \"paid\",\n                \"dueDate\": \"2023-12-10\",\n                \"expiresAfter\": 90,\n                \"value\": 50.0,\n                \"paymentMethod\": \"boleto\",\n                \"clientControlNumber\": \"7543649847645556555553425\",\n                \"payer\": {\n                    \"data\": {\n                        \"type\": \"payer\",\n                        \"attributes\": {\n                            \"name\": \"Han Solo\",\n                            \"documentNumber\": \"12345679891\",\n                            \"email\": \"han.solo@dunder-mifflin.paper\",\n                            \"address\": {\n                                \"street\": \"Rua Dr. Albuquerque Lins\",\n                                \"number\": \"2222\",\n                                \"complement\": \"Apt 222\",\n                                \"zipCode\": \"01230-000\",\n                                \"neighborhood\": \"Santa Cecília\",\n                                \"city\": \"São Paulo\",\n                                \"state\": \"SP\"\n                            },\n                            \"phone\": {\n                                \"countryCode\": \"55\",\n                                \"areaCode\": \"51\",\n                                \"number\": \"995562211\"\n                            }\n                        }\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"8c5cd375-4de5-4dfe-97e8-c208d7b8e807\",\n            \"type\": \"charge\",\n            \"attributes\": {\n                \"createdAt\": \"2023-12-07T09:38:54.229-03:00\",\n                \"updatedAt\": \"2023-12-07T11:25:22.137-03:00\",\n                \"origin\": \"api\",\n                \"status\": \"paid_externally\",\n                \"dueDate\": \"2023-12-10\",\n                \"expiresAfter\": 90,\n                \"value\": 100.5,\n                \"paymentMethod\": \"boleto\",\n                \"clientControlNumber\": \"7543649847645556555553425\",\n                \"payer\": {\n                    \"data\": {\n                        \"type\": \"payer\",\n                        \"attributes\": {\n                            \"name\": \"Han Solo\",\n                            \"documentNumber\": \"12345679891\",\n                            \"email\": \"han.solo@dunder-mifflin.paper\",\n                            \"address\": {\n                                \"street\": \"Rua Dr. Albuquerque Lins\",\n                                \"number\": \"2222\",\n                                \"complement\": \"Apt 222\",\n                                \"zipCode\": \"01230-000\",\n                                \"neighborhood\": \"Santa Cecília\",\n                                \"city\": \"São Paulo\",\n                                \"state\": \"SP\"\n                            },\n                            \"phone\": {\n                                \"countryCode\": \"55\",\n                                \"areaCode\": \"51\",\n                                \"number\": \"995562211\"\n                            }\n                        }\n                    }\n                }\n            }\n        }\n    ],\n    \"meta\": {\n        \"search\": {},\n        \"pagination\": {\n            \"currentPage\": 1,\n            \"previousPage\": null,\n            \"nextPage\": 2,\n            \"perPage\": 25,\n            \"totalPages\": 157,\n            \"totalCount\": 3907\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "0e683d5d-61ce-445b-928e-3cc3340c0eda"
                          },
                          "type": {
                            "type": "string",
                            "example": "charge"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string",
                                "example": "2023-12-07T13:27:23.653-03:00"
                              },
                              "updatedAt": {
                                "type": "string",
                                "example": "2023-12-07T15:02:02.101-03:00"
                              },
                              "origin": {
                                "type": "string",
                                "example": "api"
                              },
                              "status": {
                                "type": "string",
                                "example": "paid"
                              },
                              "dueDate": {
                                "type": "string",
                                "example": "2023-12-10"
                              },
                              "expiresAfter": {
                                "type": "integer",
                                "example": 90,
                                "default": 0
                              },
                              "value": {
                                "type": "integer",
                                "example": 50,
                                "default": 0
                              },
                              "paymentMethod": {
                                "type": "string",
                                "example": "boleto"
                              },
                              "clientControlNumber": {
                                "type": "string",
                                "example": "7543649847645556555553425"
                              },
                              "payer": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "payer"
                                      },
                                      "attributes": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string",
                                            "example": "Han Solo"
                                          },
                                          "documentNumber": {
                                            "type": "string",
                                            "example": "12345679891"
                                          },
                                          "email": {
                                            "type": "string",
                                            "example": "han.solo@dunder-mifflin.paper"
                                          },
                                          "address": {
                                            "type": "object",
                                            "properties": {
                                              "street": {
                                                "type": "string",
                                                "example": "Rua Dr. Albuquerque Lins"
                                              },
                                              "number": {
                                                "type": "string",
                                                "example": "2222"
                                              },
                                              "complement": {
                                                "type": "string",
                                                "example": "Apt 222"
                                              },
                                              "zipCode": {
                                                "type": "string",
                                                "example": "01230-000"
                                              },
                                              "neighborhood": {
                                                "type": "string",
                                                "example": "Santa Cecília"
                                              },
                                              "city": {
                                                "type": "string",
                                                "example": "São Paulo"
                                              },
                                              "state": {
                                                "type": "string",
                                                "example": "SP"
                                              }
                                            }
                                          },
                                          "phone": {
                                            "type": "object",
                                            "properties": {
                                              "countryCode": {
                                                "type": "string",
                                                "example": "55"
                                              },
                                              "areaCode": {
                                                "type": "string",
                                                "example": "51"
                                              },
                                              "number": {
                                                "type": "string",
                                                "example": "995562211"
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "search": {
                          "type": "object",
                          "properties": {}
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "currentPage": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "previousPage": {},
                            "nextPage": {
                              "type": "integer",
                              "example": 2,
                              "default": 0
                            },
                            "perPage": {
                              "type": "integer",
                              "example": 25,
                              "default": 0
                            },
                            "totalPages": {
                              "type": "integer",
                              "example": 157,
                              "default": 0
                            },
                            "totalCount": {
                              "type": "integer",
                              "example": 3907,
                              "default": 0
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": false,\n  \"message\": \"Número de conta inválido.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "Unauthorized"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/cnab": {
      "get": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Baixar arquivos de retorno - CNAB400",
        "description": "Este recurso retorna uma lista com os arquivos de retorno no formato CNAB400 disponíveis.",
        "operationId": "list-cnab",
        "parameters": [
          {
            "name": "q[dateEq]",
            "in": "query",
            "description": "Data de geração do arquivo de retorno igual a.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página que será retornada.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Quantidade de itens por página que serão retornados.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\n    {\n      \"fileId\": 1608,\n      \"file\": \"https://grafeno-pagamentos.s3.amazonaws.com/uploads/cnab/record/1608/file/cnab_charge20210209-3977-25q8dv.ret?X-Amz-Expires=259200&X-Amz-Date=20210408T214154Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6GUDBFRJDLS2JG7S%2F20210408%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=df774fa7d3ab28613b167fc7a741a65c2971eb8f88600952663adfb602851ffd\",\n      \"date\": \"2021-02-09\",\n      \"accountNumber\": \"00002935-5\",\n      \"documentNumber\": \"159.283.550/001-12\",\n      \"accountName\": \"TESTES DE BOLETO\",\n      \"accountType\": \"company\"\n    },\n    {\n      \"fileId\": 1609,\n      \"file\": \"https://grafeno-pagamentos.s3.amazonaws.com/uploads/cnab/record/1609/file/cnab_charge20210209-3977-f9q1x.ret?X-Amz-Expires=259200&X-Amz-Date=20210408T214154Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6GUDBFRJDLS2JG7S%2F20210408%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=4c39f0593c9ae2c5fb08a6ca15f3842b9623308331255e3070d4a088f21a987c\",\n      \"date\": \"2021-02-09\",\n      \"accountNumber\": \"00002935-5\",\n      \"documentNumber\": \"159.283.550/001-12\",\n      \"accountName\": \"TESTES DE BOLETO\",\n      \"accountType\": \"company\"\n    }\n  ],\n  \"pagination\": {\n    \"total_pages\": 1,\n    \"current_page\": 1,\n    \"items_per_page\": 50,\n    \"count\": 2,\n    \"total_count\": 2\n  },\n  \"success\": true,\n  \"message\": \"OK\",\n  \"searched\": {\n    \"createdAtGtEq\": \"2021-02-09 00:00:00 -0300\",\n    \"createdAtLtEq\": \"2021-02-09 23:59:59 -0300\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileId": {
                            "type": "integer",
                            "example": 1608,
                            "default": 0
                          },
                          "file": {
                            "type": "string",
                            "example": "https://grafeno-pagamentos.s3.amazonaws.com/uploads/cnab/record/1608/file/cnab_charge20210209-3977-25q8dv.ret?X-Amz-Expires=259200&X-Amz-Date=20210408T214154Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6GUDBFRJDLS2JG7S%2F20210408%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=df774fa7d3ab28613b167fc7a741a65c2971eb8f88600952663adfb602851ffd"
                          },
                          "date": {
                            "type": "string",
                            "example": "2021-02-09"
                          },
                          "accountNumber": {
                            "type": "string",
                            "example": "00002935-5"
                          },
                          "documentNumber": {
                            "type": "string",
                            "example": "159.283.550/001-12"
                          },
                          "accountName": {
                            "type": "string",
                            "example": "TESTES DE BOLETO"
                          },
                          "accountType": {
                            "type": "string",
                            "example": "company"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total_pages": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "current_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "items_per_page": {
                          "type": "integer",
                          "example": 50,
                          "default": 0
                        },
                        "count": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "total_count": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "OK"
                    },
                    "searched": {
                      "type": "object",
                      "properties": {
                        "createdAtGtEq": {
                          "type": "string",
                          "example": "2021-02-09 00:00:00 -0300"
                        },
                        "createdAtLtEq": {
                          "type": "string",
                          "example": "2021-02-09 23:59:59 -0300"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Número de conta inválido.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "unauthorized"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/charges/{charge_uuid}": {
      "get": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Visualizar cobrança",
        "description": "Este recurso retorna informações de uma cobrança existente.",
        "operationId": "view-charge",
        "parameters": [
          {
            "name": "charge_uuid",
            "in": "path",
            "description": "uuid da cobrança.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"id\": \"0e683d5d-61ce-445b-928e-3cc3340c0eda\",\n    \"type\": \"charge\",\n    \"attributes\": {\n      \"createdAt\": \"2023-12-07T13:27:23.653-03:00\",\n      \"updatedAt\": \"2023-12-07T15:02:02.101-03:00\",\n      \"status\": \"paid\",\n      \"paymentMethod\": \"boleto\",\n      \"dueDate\": \"2023-12-10\",\n      \"value\": 50,\n      \"discount\": {\n        \"range\": \"2023-12-08\",\n        \"discountType\": \"percentage\",\n        \"discountValue\": 5\n      },\n      \"abatementValue\": 5.2,\n      \"interestType\": \"percentage\",\n      \"interestValue\": 2,\n      \"applicableFine\": 2,\n      \"payer\": {\n        \"data\": {\n          \"type\": \"payer\",\n          \"attributes\": {\n            \"name\": \"Han Solo\",\n            \"documentNumber\": \"12345679891\",\n            \"email\": \"han.solo@dunder-mifflin.paper\",\n            \"address\": {\n              \"street\": \"Rua Dr. Albuquerque Lins\",\n              \"number\": \"2222\",\n              \"complement\": \"Apt 222\",\n              \"zipCode\": \"01230-000\",\n              \"neighborhood\": \"Santa Cecília\",\n              \"city\": \"São Paulo\",\n              \"state\": \"SP\"\n            },\n            \"phone\": {\n              \"countryCode\": \"55\",\n              \"areaCode\": \"51\",\n              \"number\": \"995562211\"\n            }\n          }\n        }\n      },\n      \"grantor\": {\n        \"data\": {\n          \"type\": \"grantor\",\n          \"attributes\": {\n            \"name\": \"Harrison Ford\",\n            \"documentNumber\": \"88650081000116\",\n            \"address\": {\n              \"street\": \"Avenida Vinte de Setembro\",\n              \"number\": \"456\",\n              \"complement\": \"Apto 987\",\n              \"zipCode\": \"93819-300\",\n              \"neighborhood\": \"São Jacó\",\n              \"city\": \"Sapiranga\",\n              \"state\": \"RS\"\n            }\n          }\n        }\n      },\n      \"fees\": {\n        \"data\": [\n          {\n            \"id\": \"109598\",\n            \"type\": \"event\",\n            \"attributes\": {\n              \"kind\": \"charge_boleto_online_canceled_cost\",\n              \"value\": 1.99\n            }\n          },\n          {\n            \"id\": \"109596\",\n            \"type\": \"event\",\n            \"attributes\": {\n              \"kind\": \"sending_email_cost\",\n              \"value\": 0.06\n            }\n          },\n          {\n            \"id\": \"109588\",\n            \"type\": \"event\",\n            \"attributes\": {\n              \"kind\": \"charge_boleto_pix_registered_cost\",\n              \"value\": 0\n            }\n          },\n          {\n            \"id\": \"109587\",\n            \"type\": \"event\",\n            \"attributes\": {\n              \"kind\": \"charge_boleto_online_register_cost\",\n              \"value\": 0\n            }\n          }\n        ]\n      },\n      \"boleto\": {\n        \"data\": {\n          \"id\": \"a55b20c8-7896-44a2-8b42-53137cd09208\",\n          \"type\": \"boleto\",\n          \"attributes\": {\n            \"ourNumber\": 13102,\n            \"ourNumberDv\": \"8\",\n            \"barCode\": \"27498956000000050000001010000001310281246950\",\n            \"emv\": \"00020101021226970014br.gov.bcb.pix2575qr-h.cornerpix.com.br/11581339/v2/cobv/2215fe22-32f4-401b-b423-896bba43e97f5204000053039865802BR5914BMP MONEY PLUS6009SAO PAULO62070503***63043C6D\",\n            \"image\": \"iVBORw0KGgoAAAANSUhEUgAAAhIAAAISAQAAAACxRhsSAAAFCUlEQVR4nO2dTW7jOBCFXw0FeEkBOUCOQt0syJH6BtJRfIABpGUACTWLYpG0k3E30I5ao3lcBLFofRCBQql+HmlR/O6Y/vptBEAGGWSQQQYZZJBBBhmVIXl0EJEOmPpNRPpN6gSATWQAIMPil4cnPwcZZDxkJFVVnQEgrmUyKBBVkXSFSA/oe7+Jjgiqqqq3jGc8BxlkPGQsxTveDNVrZ9YJM1sf7mOf/RxkkPFrjEUEaQ5q/039JvJ2zTYpg//5/ucgg4x/Z+gYVYGlg46oNhlUx6UDsHT4NI66FjLOw4AFmjk+DYo0w0y0Tti1HL3m7zW3jUdZCxmnZ0wiItIDAILK2xxUhsaBBpUBQZGuHWRALgQ8/znIIOProXdjBICka3agSdWSfpv48o6jrIWMszNE+pLCxxXAclFMPczR1qhUR6tabWIeeHjyc5BBxiOGe9EPQZrbaR3jCh2jT6TrRduS1JOfgwwyvh7F4rYOWF5U0o8eADZB0q2TNG/I/jQqJI0rdBoAAYI3BI6yFjLOy8hpveXxupbgc4Wl/zXBH71RlSe8KcX4lIy9GKrXDpia1j5QO6gyAJC368U6qHbHiFJdPdZayDgjo4k0JenWAQgq6cdFBfHvDlgEOr2uUCybWGgABEiqTdSjrIWM/wmjpvUAdPSmlKVQ02txpfFD9F189phrIeNUjKYa6r2nHHzWjy6QWr1RZeEq+1Fk7MYwDyqIM3SSsObXe5yb7wgASBoBWCxgd2ydPu85yCDj4fAuVFBLnKoDHaM3pYp7ddVp0Nyyoj8lYxdGKzexUtOMxjqrxVpAkEqtamRdioz9GMWfuqQvK6fgnjX6R1hnKpdTs/OlnZKxCyNHm2l+WSVHooAgrl2OVP2aYukg6Sr5G40S9ShrIeP0jOn1Q/LLv+j5px64rwEUL4pmG8rB1kLGCRnmFBXLRQXLSy6RTv0MJAXqNUFcoVh6AMvLijQCzPfJ2JUh0m+SG6WWM21i/hRxtRK/6ry5MDquub86PPk5yCDjMSOurjVFUNOfAsjXTOu3dPhKk3q8tZBxPobn+zFv08+VVADVvdbmqap6idX+Y75Pxi4Md4qLAJO91zdRABAsnQeuCKtk/WlQa08hzsyjyNiLUfzp6vXT2WdSM/HpjytW6U/J2INxo0OZgaow9WqUC6PNgGudH+B7n4y9GI2A386SavwkgJsaQNC6B7Vu4qedkvH9jHajyQhkf2qV/PKiL1bsYoDSQaWdkrELw+10hveeGleqjRI1m/J9+k87JWMPRqNDySOqVrmJy6eKaMrqUrf3HmUtZJyX0ew39TAUAIqarxZRLZm6KbYyjyJjJ8Ztvh/Uj0Bb23TJrs2hPRaN8SkZOzLa936NT4v+NJepYikJwLdGNfceZS1knJdR9Pyu2G8KUeonmyePT13oD/iB6LRTMvZg3J++1wpOY/mon+qnbXHgKGsh47wMz6NseOleq03OoZltN0mVghXtlIy9GCUqzT+60wMir1rCAFU7XWIEUCWqPGeCjJ0YHp/OQPu2rykUcBOpVucbuS+ajD/G0HERU/bru1xyBPDeb5LNdvHTzvMJ6N/1HGSQ8ZBhxVEz1g/fWbJc1A9BLVLq6OWs466FjNMwPv3eSW1FFbmJS/qyIqXZzs/3Phn7MO7z/eZ3I8uPSXgNAG6nN50B2ikZ388Q/fl3fjKmo6yFDDLIIIMMMsggg4z/PuMfAvavWpCR+BgAAAAASUVORK5CYII=\",\n            \"quickPdfUrl\": \"https://grafeno-pagamentos-carrierwave-staging.s3.amazonaws.com/uploads/bmp/boleto/28903/file/10-12-2023_-_VIVI_ATUAL__NF__-_Han_Solo_-_53832.pdf?X-Amz-Expires=259200&X-Amz-Date=20231207T181431Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6GUDBFRJDLS2JG7S%2F20231207%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=26efceaf31071ec7ef468671e581f1e67a1b4d1edfa409b7ae33508ec87da8b7\",\n            \"lineCode\": \"27490001011000000131202812469506895600000005000\",\n            \"registrationStatus\": \"registered\",\n            \"pdf\": \"https://pagamentos.grafeno.be/charges/0e683d5d-61ce-445b-928e-3cc3340c0eda/download_boleto\",\n            \"yourNumber\": \"11119998\",\n            \"registrationMethod\": \"online\",\n            \"messagingRuleId\": \"589f899a-9650-45ce-aeda-937f49c27156\",\n            \"observation\": \"Sr(a) caixa, não receber o boleto após o vencimento\"\n          }\n        }\n      },\n      \"payments\": {\n        \"data\": [\n          {\n            \"id\": \"b5ecfee0-5726-40b1-903e-42330fee9d64\",\n            \"type\": \"payment\",\n            \"attributes\": {\n              \"value\": 50,\n              \"receivedAt\": \"2023-12-07\",\n              \"processedAt\": \"2023-12-07T15:02:01.953-03:00\",\n              \"paymentBankCode\": null,\n              \"paymentAgency\": null\n            }\n          }\n        ]\n      },\n      \"clientControlNumber\": \"7543649847645556555553425\",\n      \"origin\": \"api\",\n      \"receiptNumber\": \"51080701212344000127550010000000981364117781\",\n      \"expiresAfter\": 90,\n      \"titleType\": \"monthly_tuition\"\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "0e683d5d-61ce-445b-928e-3cc3340c0eda"
                        },
                        "type": {
                          "type": "string",
                          "example": "charge"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "createdAt": {
                              "type": "string",
                              "example": "2023-12-07T13:27:23.653-03:00"
                            },
                            "updatedAt": {
                              "type": "string",
                              "example": "2023-12-07T15:02:02.101-03:00"
                            },
                            "status": {
                              "type": "string",
                              "example": "paid"
                            },
                            "paymentMethod": {
                              "type": "string",
                              "example": "boleto"
                            },
                            "dueDate": {
                              "type": "string",
                              "example": "2023-12-10"
                            },
                            "value": {
                              "type": "integer",
                              "example": 50,
                              "default": 0
                            },
                            "discount": {
                              "type": "object",
                              "properties": {
                                "range": {
                                  "type": "string",
                                  "example": "2023-12-08"
                                },
                                "discountType": {
                                  "type": "string",
                                  "example": "percentage"
                                },
                                "discountValue": {
                                  "type": "integer",
                                  "example": 5,
                                  "default": 0
                                }
                              }
                            },
                            "abatementValue": {
                              "type": "number",
                              "example": 5.2,
                              "default": 0
                            },
                            "interestType": {
                              "type": "string",
                              "example": "percentage"
                            },
                            "interestValue": {
                              "type": "integer",
                              "example": 2,
                              "default": 0
                            },
                            "applicableFine": {
                              "type": "integer",
                              "example": 2,
                              "default": 0
                            },
                            "payer": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "payer"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "example": "Han Solo"
                                        },
                                        "documentNumber": {
                                          "type": "string",
                                          "example": "12345679891"
                                        },
                                        "email": {
                                          "type": "string",
                                          "example": "han.solo@dunder-mifflin.paper"
                                        },
                                        "address": {
                                          "type": "object",
                                          "properties": {
                                            "street": {
                                              "type": "string",
                                              "example": "Rua Dr. Albuquerque Lins"
                                            },
                                            "number": {
                                              "type": "string",
                                              "example": "2222"
                                            },
                                            "complement": {
                                              "type": "string",
                                              "example": "Apt 222"
                                            },
                                            "zipCode": {
                                              "type": "string",
                                              "example": "01230-000"
                                            },
                                            "neighborhood": {
                                              "type": "string",
                                              "example": "Santa Cecília"
                                            },
                                            "city": {
                                              "type": "string",
                                              "example": "São Paulo"
                                            },
                                            "state": {
                                              "type": "string",
                                              "example": "SP"
                                            }
                                          }
                                        },
                                        "phone": {
                                          "type": "object",
                                          "properties": {
                                            "countryCode": {
                                              "type": "string",
                                              "example": "55"
                                            },
                                            "areaCode": {
                                              "type": "string",
                                              "example": "51"
                                            },
                                            "number": {
                                              "type": "string",
                                              "example": "995562211"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "grantor": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "grantor"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "example": "Harrison Ford"
                                        },
                                        "documentNumber": {
                                          "type": "string",
                                          "example": "88650081000116"
                                        },
                                        "address": {
                                          "type": "object",
                                          "properties": {
                                            "street": {
                                              "type": "string",
                                              "example": "Avenida Vinte de Setembro"
                                            },
                                            "number": {
                                              "type": "string",
                                              "example": "456"
                                            },
                                            "complement": {
                                              "type": "string",
                                              "example": "Apto 987"
                                            },
                                            "zipCode": {
                                              "type": "string",
                                              "example": "93819-300"
                                            },
                                            "neighborhood": {
                                              "type": "string",
                                              "example": "São Jacó"
                                            },
                                            "city": {
                                              "type": "string",
                                              "example": "Sapiranga"
                                            },
                                            "state": {
                                              "type": "string",
                                              "example": "RS"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "fees": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "example": "109598"
                                      },
                                      "type": {
                                        "type": "string",
                                        "example": "event"
                                      },
                                      "attributes": {
                                        "type": "object",
                                        "properties": {
                                          "kind": {
                                            "type": "string",
                                            "example": "charge_boleto_online_canceled_cost"
                                          },
                                          "value": {
                                            "type": "number",
                                            "example": 1.99,
                                            "default": 0
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "boleto": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "example": "a55b20c8-7896-44a2-8b42-53137cd09208"
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "boleto"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {
                                        "ourNumber": {
                                          "type": "integer",
                                          "example": 13102,
                                          "default": 0
                                        },
                                        "ourNumberDv": {
                                          "type": "string",
                                          "example": "8"
                                        },
                                        "barCode": {
                                          "type": "string",
                                          "example": "27498956000000050000001010000001310281246950"
                                        },
                                        "emv": {
                                          "type": "string",
                                          "example": "00020101021226970014br.gov.bcb.pix2575qr-h.cornerpix.com.br/11581339/v2/cobv/2215fe22-32f4-401b-b423-896bba43e97f5204000053039865802BR5914BMP MONEY PLUS6009SAO PAULO62070503***63043C6D"
                                        },
                                        "image": {
                                          "type": "string",
                                          "example": "iVBORw0KGgoAAAANSUhEUgAAAhIAAAISAQAAAACxRhsSAAAFCUlEQVR4nO2dTW7jOBCFXw0FeEkBOUCOQt0syJH6BtJRfIABpGUACTWLYpG0k3E30I5ao3lcBLFofRCBQql+HmlR/O6Y/vptBEAGGWSQQQYZZJBBBhmVIXl0EJEOmPpNRPpN6gSATWQAIMPil4cnPwcZZDxkJFVVnQEgrmUyKBBVkXSFSA/oe7+Jjgiqqqq3jGc8BxlkPGQsxTveDNVrZ9YJM1sf7mOf/RxkkPFrjEUEaQ5q/039JvJ2zTYpg//5/ucgg4x/Z+gYVYGlg46oNhlUx6UDsHT4NI66FjLOw4AFmjk+DYo0w0y0Tti1HL3m7zW3jUdZCxmnZ0wiItIDAILK2xxUhsaBBpUBQZGuHWRALgQ8/znIIOProXdjBICka3agSdWSfpv48o6jrIWMszNE+pLCxxXAclFMPczR1qhUR6tabWIeeHjyc5BBxiOGe9EPQZrbaR3jCh2jT6TrRduS1JOfgwwyvh7F4rYOWF5U0o8eADZB0q2TNG/I/jQqJI0rdBoAAYI3BI6yFjLOy8hpveXxupbgc4Wl/zXBH71RlSe8KcX4lIy9GKrXDpia1j5QO6gyAJC368U6qHbHiFJdPdZayDgjo4k0JenWAQgq6cdFBfHvDlgEOr2uUCybWGgABEiqTdSjrIWM/wmjpvUAdPSmlKVQ02txpfFD9F189phrIeNUjKYa6r2nHHzWjy6QWr1RZeEq+1Fk7MYwDyqIM3SSsObXe5yb7wgASBoBWCxgd2ydPu85yCDj4fAuVFBLnKoDHaM3pYp7ddVp0Nyyoj8lYxdGKzexUtOMxjqrxVpAkEqtamRdioz9GMWfuqQvK6fgnjX6R1hnKpdTs/OlnZKxCyNHm2l+WSVHooAgrl2OVP2aYukg6Sr5G40S9ShrIeP0jOn1Q/LLv+j5px64rwEUL4pmG8rB1kLGCRnmFBXLRQXLSy6RTv0MJAXqNUFcoVh6AMvLijQCzPfJ2JUh0m+SG6WWM21i/hRxtRK/6ry5MDquub86PPk5yCDjMSOurjVFUNOfAsjXTOu3dPhKk3q8tZBxPobn+zFv08+VVADVvdbmqap6idX+Y75Pxi4Md4qLAJO91zdRABAsnQeuCKtk/WlQa08hzsyjyNiLUfzp6vXT2WdSM/HpjytW6U/J2INxo0OZgaow9WqUC6PNgGudH+B7n4y9GI2A386SavwkgJsaQNC6B7Vu4qedkvH9jHajyQhkf2qV/PKiL1bsYoDSQaWdkrELw+10hveeGleqjRI1m/J9+k87JWMPRqNDySOqVrmJy6eKaMrqUrf3HmUtZJyX0ew39TAUAIqarxZRLZm6KbYyjyJjJ8Ztvh/Uj0Bb23TJrs2hPRaN8SkZOzLa936NT4v+NJepYikJwLdGNfceZS1knJdR9Pyu2G8KUeonmyePT13oD/iB6LRTMvZg3J++1wpOY/mon+qnbXHgKGsh47wMz6NseOleq03OoZltN0mVghXtlIy9GCUqzT+60wMir1rCAFU7XWIEUCWqPGeCjJ0YHp/OQPu2rykUcBOpVucbuS+ajD/G0HERU/bru1xyBPDeb5LNdvHTzvMJ6N/1HGSQ8ZBhxVEz1g/fWbJc1A9BLVLq6OWs466FjNMwPv3eSW1FFbmJS/qyIqXZzs/3Phn7MO7z/eZ3I8uPSXgNAG6nN50B2ikZ388Q/fl3fjKmo6yFDDLIIIMMMsggg4z/PuMfAvavWpCR+BgAAAAASUVORK5CYII="
                                        },
                                        "quickPdfUrl": {
                                          "type": "string",
                                          "example": "https://grafeno-pagamentos-carrierwave-staging.s3.amazonaws.com/uploads/bmp/boleto/28903/file/10-12-2023_-_VIVI_ATUAL__NF__-_Han_Solo_-_53832.pdf?X-Amz-Expires=259200&X-Amz-Date=20231207T181431Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6GUDBFRJDLS2JG7S%2F20231207%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=26efceaf31071ec7ef468671e581f1e67a1b4d1edfa409b7ae33508ec87da8b7"
                                        },
                                        "lineCode": {
                                          "type": "string",
                                          "example": "27490001011000000131202812469506895600000005000"
                                        },
                                        "registrationStatus": {
                                          "type": "string",
                                          "example": "registered"
                                        },
                                        "pdf": {
                                          "type": "string",
                                          "example": "https://pagamentos.grafeno.be/charges/0e683d5d-61ce-445b-928e-3cc3340c0eda/download_boleto"
                                        },
                                        "yourNumber": {
                                          "type": "string",
                                          "example": "11119998"
                                        },
                                        "registrationMethod": {
                                          "type": "string",
                                          "example": "online"
                                        },
                                        "messagingRuleId": {
                                          "type": "string",
                                          "example": "589f899a-9650-45ce-aeda-937f49c27156"
                                        },
                                        "observation": {
                                          "type": "string",
                                          "example": "Sr(a) caixa, não receber o boleto após o vencimento"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "payments": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "example": "b5ecfee0-5726-40b1-903e-42330fee9d64"
                                      },
                                      "type": {
                                        "type": "string",
                                        "example": "payment"
                                      },
                                      "attributes": {
                                        "type": "object",
                                        "properties": {
                                          "value": {
                                            "type": "integer",
                                            "example": 50,
                                            "default": 0
                                          },
                                          "receivedAt": {
                                            "type": "string",
                                            "example": "2023-12-07"
                                          },
                                          "processedAt": {
                                            "type": "string",
                                            "example": "2023-12-07T15:02:01.953-03:00"
                                          },
                                          "paymentBankCode": {},
                                          "paymentAgency": {}
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "clientControlNumber": {
                              "type": "string",
                              "example": "7543649847645556555553425"
                            },
                            "origin": {
                              "type": "string",
                              "example": "api"
                            },
                            "receiptNumber": {
                              "type": "string",
                              "example": "51080701212344000127550010000000981364117781"
                            },
                            "expiresAfter": {
                              "type": "integer",
                              "example": 90,
                              "default": 0
                            },
                            "titleType": {
                              "type": "string",
                              "example": "monthly_tuition"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Número de conta inválido.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "unauthorized"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Record Not Found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Record Not Found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": {\n        \"id\": \"\",\n        \"type\": \"charge\",\n        \"errors\": [\n            {\n                \"field\": \"field name\",\n                \"messages\": [\n                    \"simple error message\"\n                ]\n            }\n        ]\n    },\n    \"success\": false,\n    \"message\": \"complete error message\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": ""
                        },
                        "type": {
                          "type": "string",
                          "example": "charge"
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "field name"
                              },
                              "messages": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "simple error message"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "complete error message"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Atualizar cobrança",
        "description": "Este recurso permite a atualização de dados de uma cobrança.",
        "operationId": "update-charge",
        "parameters": [
          {
            "name": "charge_uuid",
            "in": "path",
            "description": "uuid da cobrança.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dueDate": {
                    "type": "string",
                    "description": "Data de vencimento da cobrança.",
                    "format": "date"
                  },
                  "abatementValue": {
                    "type": "number",
                    "description": "Valor do abatimento da cobrança.",
                    "format": "double"
                  },
                  "abatement": {
                    "type": "number",
                    "description": "Valor do abatimento em porcentagem.<br>(Será desconsiderado, se <code>abatementValue</code> for informado)",
                    "format": "double"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "dueDate": "2025-10-10",
                    "abatementValue": "3",
                    "abatement": "4.5"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": {\n        \"id\": \"81207bd1-5366-4432-ba18-82e787f745e8\",\n        \"type\": \"charge\",\n        \"attributes\": {\n            \"createdAt\": \"2023-12-07T09:37:21.533-03:00\",\n            \"updatedAt\": \"2023-12-07T15:20:33.277-03:00\",\n            \"status\": \"pending\",\n            \"paymentMethod\": \"boleto\",\n            \"dueDate\": \"2024-12-22\",\n            \"value\": 100.5,\n            \"discount\": {\n                \"range\": \"2023-12-10\",\n                \"discountType\": \"percentage\",\n                \"discountValue\": 5.0\n            },\n            \"abatementValue\": 25.0,\n            \"interestType\": \"percentage\",\n            \"interestValue\": 0.8,\n            \"applicableFine\": 0.2,\n            \"payer\": {\n                \"data\": {\n                    \"type\": \"payer\",\n                    \"attributes\": {\n                        \"name\": \"Han Solo\",\n                        \"documentNumber\": \"12345679891\",\n                        \"email\": \"han.solo@dunder-mifflin.paper\",\n                        \"address\": {\n                            \"street\": \"Rua Dr. Albuquerque Lins\",\n                            \"number\": \"2222\",\n                            \"complement\": \"Apt 222\",\n                            \"zipCode\": \"01230-000\",\n                            \"neighborhood\": \"Santa Cecília\",\n                            \"city\": \"São Paulo\",\n                            \"state\": \"SP\"\n                        },\n                        \"phone\": {\n                            \"countryCode\": \"55\",\n                            \"areaCode\": \"51\",\n                            \"number\": \"995562211\"\n                        }\n                    }\n                }\n            },\n            \"grantor\": {\n                \"data\": {\n                    \"type\": \"grantor\",\n                    \"attributes\": {\n                        \"name\": \"Harry M. Lopes\",\n                        \"documentNumber\": \"12705274000165\",\n                        \"address\": {\n                            \"street\": \"Rua Dr. Albuquerque Lins\",\n                            \"number\": \"22\",\n                            \"complement\": \"Apt 222\",\n                            \"zipCode\": \"01230-000\",\n                            \"neighborhood\": \"Santa Cecília\",\n                            \"city\": \"São Paulo\",\n                            \"state\": \"SP\"\n                        }\n                    }\n                }\n            },\n            \"fees\": {\n                \"data\": []\n            },\n            \"boleto\": {\n                \"data\": {\n                    \"id\": \"ee92157e-70ce-4f27-b0d0-876adf934b97\",\n                    \"type\": \"boleto\",\n                    \"attributes\": {\n                        \"ourNumber\": null,\n                        \"ourNumberDv\": null,\n                        \"barCode\": null,\n                        \"emv\": null,\n                        \"image\": null,\n                        \"quickPdfUrl\": null,\n                        \"lineCode\": null,\n                        \"registrationStatus\": null,\n                        \"pdf\": \"https://pagamentos.grafeno.be/charges/81207bd1-5366-4432-ba18-82e787f745e8/download_boleto\",\n                        \"yourNumber\": \"11119999\",\n                        \"registrationMethod\": \"online\",\n                        \"messagingRuleId\": \"589f899a-9650-45ce-aeda-937f49c27156\",\n                        \"observation\": \"Sr(a) caixa, não receber o boleto após o vencimento\"\n                    }\n                }\n            },\n            \"payments\": {\n                \"data\": []\n            },\n            \"clientControlNumber\": \"7543649847645556555553425\",\n            \"origin\": \"api\",\n            \"receiptNumber\": \"51080701212344000127550010000000981364117781\",\n            \"expiresAfter\": 90,\n            \"titleType\": \"monthly_tuition\"\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "81207bd1-5366-4432-ba18-82e787f745e8"
                        },
                        "type": {
                          "type": "string",
                          "example": "charge"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "createdAt": {
                              "type": "string",
                              "example": "2023-12-07T09:37:21.533-03:00"
                            },
                            "updatedAt": {
                              "type": "string",
                              "example": "2023-12-07T15:20:33.277-03:00"
                            },
                            "status": {
                              "type": "string",
                              "example": "pending"
                            },
                            "paymentMethod": {
                              "type": "string",
                              "example": "boleto"
                            },
                            "dueDate": {
                              "type": "string",
                              "example": "2024-12-22"
                            },
                            "value": {
                              "type": "number",
                              "example": 100.5,
                              "default": 0
                            },
                            "discount": {
                              "type": "object",
                              "properties": {
                                "range": {
                                  "type": "string",
                                  "example": "2023-12-10"
                                },
                                "discountType": {
                                  "type": "string",
                                  "example": "percentage"
                                },
                                "discountValue": {
                                  "type": "integer",
                                  "example": 5,
                                  "default": 0
                                }
                              }
                            },
                            "abatementValue": {
                              "type": "integer",
                              "example": 25,
                              "default": 0
                            },
                            "interestType": {
                              "type": "string",
                              "example": "percentage"
                            },
                            "interestValue": {
                              "type": "number",
                              "example": 0.8,
                              "default": 0
                            },
                            "applicableFine": {
                              "type": "number",
                              "example": 0.2,
                              "default": 0
                            },
                            "payer": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "payer"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "example": "Han Solo"
                                        },
                                        "documentNumber": {
                                          "type": "string",
                                          "example": "12345679891"
                                        },
                                        "email": {
                                          "type": "string",
                                          "example": "han.solo@dunder-mifflin.paper"
                                        },
                                        "address": {
                                          "type": "object",
                                          "properties": {
                                            "street": {
                                              "type": "string",
                                              "example": "Rua Dr. Albuquerque Lins"
                                            },
                                            "number": {
                                              "type": "string",
                                              "example": "2222"
                                            },
                                            "complement": {
                                              "type": "string",
                                              "example": "Apt 222"
                                            },
                                            "zipCode": {
                                              "type": "string",
                                              "example": "01230-000"
                                            },
                                            "neighborhood": {
                                              "type": "string",
                                              "example": "Santa Cecília"
                                            },
                                            "city": {
                                              "type": "string",
                                              "example": "São Paulo"
                                            },
                                            "state": {
                                              "type": "string",
                                              "example": "SP"
                                            }
                                          }
                                        },
                                        "phone": {
                                          "type": "object",
                                          "properties": {
                                            "countryCode": {
                                              "type": "string",
                                              "example": "55"
                                            },
                                            "areaCode": {
[...]
