{
  "openapi": "3.1.0",
  "info": {
    "title": "API V2 Grafeno",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://pagamentos.grafeno.be/api/v2"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "Account-Number"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "x-bearer-format": ""
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/statement_entries": {
      "get": {
        "summary": "Listar Movimentações da Conta",
        "description": "Esse Endpoint retorna todas as movimentações das contas bancárias",
        "operationId": "listar-movimentações-da-conta",
        "parameters": [
          {
            "name": "q[entryAtGteq]",
            "in": "query",
            "description": "Formato: [YYYY-MM-DD] - Data de entrada maior ou igual ao padrão | padrão: primeiro dia do mês corrente",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q[entryAtLteq]",
            "in": "query",
            "description": "Formato: [YYYY-MM-DD] - Data de entrada menor ou igual ao padrão | padrão: primeiro dia do mês corrente",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q[entryAtGt]",
            "in": "query",
            "description": "Formato: [YYYY-MM-DD] - Data de entrada maior que ao padrão | padrão: primeiro dia do mês corrente",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q[entryAtLt]",
            "in": "query",
            "description": "Formato: [YYYY-MM-DD] - Data de entrada menor ou igual ao padrão | padrão: primeiro dia do mês corrente",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Para acessar a segunda ou demais páginas",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Para definir a quantidade de itens que serão retornadas na consulta.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\n    {\n      \"id\": \"97e79195-114b-46bb-8899-22d829b090b7\",\n      \"type\": \"statementEntry\",\n      \"attributes\": {\n        \"entryAt\": \"2023-12-07T06:02:36.549-03:00\",\n        \"kind\": \"TED Enviada\",\n        \"bankAccount\": {\n          \"name\": \"Kylo Ren\",\n          \"documentNumber\": \"63.935.829/0001-04\",\n          \"agency\": \"\",\n          \"account\": \"\"\n        },\n        \"value\": \"-0.06\",\n        \"apiPartnerTransactionUuid\": null,\n        \"balance\": \"374379.21\"\n      }\n    },\n    {\n      \"id\": \"42d3c577-1c68-4960-a1d5-3a9756ec80b7\",\n      \"type\": \"statementEntry\",\n      \"attributes\": {\n        \"entryAt\": \"2023-12-07T06:02:36.356-03:00\",\n        \"kind\": \"Tarifas de conta\",\n        \"bankAccount\": {\n          \"name\": \"Darth Sidious\",\n          \"documentNumber\": \"63.935.829/0001-04\",\n          \"agency\": \"0001\",\n          \"account\": \"08123687-9\"\n        },\n        \"value\": \"-1.53\",\n        \"apiPartnerTransactionUuid\": null,\n        \"balance\": \"374379.27\"\n      }\n    }\n  ],\n  \"meta\": {\n    \"search\": {\n      \"entryAtGteq\": \"2023-12-01\",\n      \"entryAtLteq\": \"2023-12-31\"\n    },\n    \"pagination\": {\n      \"currentPage\": 1,\n      \"previousPage\": null,\n      \"nextPage\": null,\n      \"perPage\": 25,\n      \"totalPages\": 1,\n      \"totalCount\": 15\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "97e79195-114b-46bb-8899-22d829b090b7"
                          },
                          "type": {
                            "type": "string",
                            "example": "statementEntry"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "entryAt": {
                                "type": "string",
                                "example": "2023-12-07T06:02:36.549-03:00"
                              },
                              "kind": {
                                "type": "string",
                                "example": "TED Enviada"
                              },
                              "bankAccount": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Kylo Ren"
                                  },
                                  "documentNumber": {
                                    "type": "string",
                                    "example": "63.935.829/0001-04"
                                  },
                                  "agency": {
                                    "type": "string",
                                    "example": ""
                                  },
                                  "account": {
                                    "type": "string",
                                    "example": ""
                                  }
                                }
                              },
                              "value": {
                                "type": "string",
                                "example": "-0.06"
                              },
                              "apiPartnerTransactionUuid": {},
                              "balance": {
                                "type": "string",
                                "example": "374379.21"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "search": {
                          "type": "object",
                          "properties": {
                            "entryAtGteq": {
                              "type": "string",
                              "example": "2023-12-01"
                            },
                            "entryAtLteq": {
                              "type": "string",
                              "example": "2023-12-31"
                            }
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "currentPage": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "previousPage": {},
                            "nextPage": {},
                            "perPage": {
                              "type": "integer",
                              "example": 25,
                              "default": 0
                            },
                            "totalPages": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "totalCount": {
                              "type": "integer",
                              "example": 15,
                              "default": 0
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": false,\n  \"message\": \"Número de conta inválido.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "Unauthorized"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {},
              "examples": {
                "Request Example": {
                  "value": {
                    "data": [
                      {
                        "uuid": "d772b0ec-906e-4c32-bb41-d289979d3e72",
                        "entry_at": "2020-04-22T10:11:44.860-03:00",
                        "kind": "Transferência",
                        "bank_account": {
                          "name": "Grafeno - Cliente 2",
                          "document_number": "61.488.375/7913-20",
                          "agency": "0001",
                          "account": "00008147-1"
                        },
                        "value": "-1111.11",
                        "api_partner_transaction_uuid": "e7dd4a75-34ce-4b06-b7f5-421f1ad7c3d1",
                        "balance": "100.00"
                      }
                    ],
                    "pagination": {
                      "total_pages": 1,
                      "current_page": 1,
                      "items_per_page": 50,
                      "count": 1
                    },
                    "success": true,
                    "message": "OK",
                    "searched": {
                      "entry_at_gteq": "2020-04-01",
                      "entry_at_lteq": "2020-04-30"
                    },
                    "current_balance": "999998888.89",
                    "available_balance": "999998888.89",
                    "final_balance": "999998888.89",
                    "initial_balance": "1000000000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/beneficiaries": {
      "get": {
        "summary": "Todos os beneficiários da conta",
        "description": "Este endpoint retorna todos os beneficiários da conta.",
        "operationId": "todos-os-beneficiários",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": [\n        {\n            \"id\": \"6d9b121a-00ad-4ee4-bf27-65a71e06659a\",\n            \"type\": \"beneficiary\",\n            \"attributes\": {\n                \"name\": \"VIVI ATUAL (NF)\",\n                \"agency\": \"0001\",\n                \"account\": \"8114464-4\",\n                \"documentNumber\": \"26***4650001**\",\n                \"bankCode\": \"274\",\n                \"createdAt\": \"2023-09-18T11:09:50.666-03:00\",\n                \"updatedAt\": \"2023-09-18T11:09:50.666-03:00\",\n                \"releaseAt\": \"2023-09-18T11:09:50.667-03:00\",\n                \"pixDetails\": {\n                    \"keyType\": \"evp\",\n                    \"key\": \"41709f71-6209-47bd-ae44-ccc784ff6c44\"\n                }\n            }\n        },\n        {\n            \"id\": \"0ae7a2f9-f733-4f59-94df-f00b6b305328\",\n            \"type\": \"beneficiary\",\n            \"attributes\": {\n                \"name\": \"COMERCIAL GRAFENO PADRÃO\",\n                \"agency\": \"0001\",\n                \"account\": \"08137651-9\",\n                \"documentNumber\": \"65739871000177\",\n                \"bankCode\": \"274\",\n                \"createdAt\": \"2023-09-15T12:04:54.235-03:00\",\n                \"updatedAt\": \"2023-09-15T12:04:54.235-03:00\",\n                \"releaseAt\": \"2023-09-15T12:04:54.235-03:00\"\n            }\n        },\n        {\n            \"id\": \"6f2711cd-fa85-4d06-813b-bd9f72e9b7d5\",\n            \"type\": \"beneficiary\",\n            \"attributes\": {\n                \"name\": \"COMERCIAL GRAFENO PADRÃO\",\n                \"agency\": \"0001\",\n                \"account\": \"8137651-9\",\n                \"documentNumber\": \"65***8710001**\",\n                \"bankCode\": \"274\",\n                \"createdAt\": \"2023-09-15T12:04:28.530-03:00\",\n                \"updatedAt\": \"2023-09-15T12:04:28.530-03:00\",\n                \"releaseAt\": \"2023-09-15T12:04:28.530-03:00\",\n                \"pixDetails\": {\n                    \"keyType\": \"cnpj\",\n                    \"key\": \"65739871000177\"\n                }\n            }\n        }\n    ],\n    \"meta\": {\n        \"search\": {},\n        \"pagination\": {\n            \"currentPage\": 1,\n            \"previousPage\": null,\n            \"nextPage\": 2,\n            \"perPage\": 25,\n            \"totalPages\": 3,\n            \"totalCount\": 59\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "6d9b121a-00ad-4ee4-bf27-65a71e06659a"
                          },
                          "type": {
                            "type": "string",
                            "example": "beneficiary"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "VIVI ATUAL (NF)"
                              },
                              "agency": {
                                "type": "string",
                                "example": "0001"
                              },
                              "account": {
                                "type": "string",
                                "example": "8114464-4"
                              },
                              "documentNumber": {
                                "type": "string",
                                "example": "26***4650001**"
                              },
                              "bankCode": {
                                "type": "string",
                                "example": "274"
                              },
                              "createdAt": {
                                "type": "string",
                                "example": "2023-09-18T11:09:50.666-03:00"
                              },
                              "updatedAt": {
                                "type": "string",
                                "example": "2023-09-18T11:09:50.666-03:00"
                              },
                              "releaseAt": {
                                "type": "string",
                                "example": "2023-09-18T11:09:50.667-03:00"
                              },
                              "pixDetails": {
                                "type": "object",
                                "properties": {
                                  "keyType": {
                                    "type": "string",
                                    "example": "evp"
                                  },
                                  "key": {
                                    "type": "string",
                                    "example": "41709f71-6209-47bd-ae44-ccc784ff6c44"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "search": {
                          "type": "object",
                          "properties": {}
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "currentPage": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "previousPage": {},
                            "nextPage": {
                              "type": "integer",
                              "example": 2,
                              "default": 0
                            },
                            "perPage": {
                              "type": "integer",
                              "example": 25,
                              "default": 0
                            },
                            "totalPages": {
                              "type": "integer",
                              "example": 3,
                              "default": 0
                            },
                            "totalCount": {
                              "type": "integer",
                              "example": 59,
                              "default": 0
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Número de conta inválido.\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "unauthorized"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Adicionar beneficiários",
        "description": "Esse endpoint é usado para adicionar beneficiários à conta",
        "operationId": "adicionar-beneficiários",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do beneficiário"
                  },
                  "document_number": {
                    "type": "string",
                    "description": "Documento do beneficiário"
                  },
                  "bank_code": {
                    "type": "string",
                    "description": "Código do banco do beneficiário."
                  },
                  "agency": {
                    "type": "string",
                    "description": "Agência da conta bancária do beneficiário."
                  },
                  "account": {
                    "type": "string",
                    "description": "Conta bancária do beneficiário."
                  },
                  "pix_details": {
                    "type": "object",
                    "description": "Dados referentes a chave PIX do beneficiário.",
                    "properties": {
                      "key": {
                        "type": "string",
                        "description": "Chave PIX do beneficiário."
                      },
                      "key_type": {
                        "type": "string",
                        "description": "Tipo da chave PIX do beneficiário. valores possíveis: cnpj, cpf, email, phone, evp."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": {\n        \"id\": \"2cd409bd-46a0-4724-aecf-5f3a34df41ef\",\n        \"type\": \"beneficiary\",\n        \"attributes\": {\n            \"name\": \"Testing creditor\",\n            \"agency\": \"0001\",\n            \"account\": \"8114464-4\",\n            \"documentNumber\": \"26***4650001**\",\n            \"bankCode\": \"274\",\n            \"createdAt\": \"2023-09-18T11:14:35.876-03:00\",\n            \"updatedAt\": \"2023-09-18T11:14:35.876-03:00\",\n            \"releaseAt\": \"2023-09-18T11:14:35.876-03:00\",\n            \"pixDetails\": {\n                \"keyType\": \"evp\",\n                \"key\": \"41709f71-6209-47bd-ae44-ccc784ff6c44\"\n            }\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "2cd409bd-46a0-4724-aecf-5f3a34df41ef"
                        },
                        "type": {
                          "type": "string",
                          "example": "beneficiary"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Testing creditor"
                            },
                            "agency": {
                              "type": "string",
                              "example": "0001"
                            },
                            "account": {
                              "type": "string",
                              "example": "8114464-4"
                            },
                            "documentNumber": {
                              "type": "string",
                              "example": "26***4650001**"
                            },
                            "bankCode": {
                              "type": "string",
                              "example": "274"
                            },
                            "createdAt": {
                              "type": "string",
                              "example": "2023-09-18T11:14:35.876-03:00"
                            },
                            "updatedAt": {
                              "type": "string",
                              "example": "2023-09-18T11:14:35.876-03:00"
                            },
                            "releaseAt": {
                              "type": "string",
                              "example": "2023-09-18T11:14:35.876-03:00"
                            },
                            "pixDetails": {
                              "type": "object",
                              "properties": {
                                "keyType": {
                                  "type": "string",
                                  "example": "evp"
                                },
                                "key": {
                                  "type": "string",
                                  "example": "41709f71-6209-47bd-ae44-ccc784ff6c44"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Número de conta inválido.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "unauthorized"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"error message\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "error message"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/charges": {
      "post": {
        "summary": "Criar cobrança - Boleto Bancário",
        "description": "",
        "operationId": "criação-de-cobranças",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "paymentMethod",
                  "dueDate",
                  "value"
                ],
                "properties": {
                  "paymentMethod": {
                    "type": "string",
                    "description": "Método de pagamento da cobrança.<br>Valores permitidos: <code>boleto</code>, <code>pix</code> e <code>ted</code> .",
                    "default": "boleto"
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "Data de vencimento.<br>Formato: <code>YYYY-MM-DD</code>.",
                    "format": "date"
                  },
                  "value": {
                    "type": "number",
                    "description": "Valor da cobrança <code>precisão 2</code>.",
                    "format": "float"
                  },
                  "abatementValue": {
                    "type": "number",
                    "description": "Valor do Abatimento <code>precisão 2</code>.",
                    "format": "float"
                  },
                  "abatement": {
                    "type": "number",
                    "description": "Abatimento em percentual <code>precisão 2</code><br>(Será desconsiderado, caso <code>abatementValue</code> seja informado).",
                    "format": "float"
                  },
                  "interestType": {
                    "type": "string",
                    "description": "Tipo de cobrança de juros.<br>Valores permitidos <code>fixed_value</code> ou <code>percentage</code>."
                  },
                  "interestValue": {
                    "type": "number",
                    "description": "Valor dos juros por mês. Valores inteiros ou decimais com <code>precisão 2</code>.",
                    "format": "float"
                  },
                  "applicableFine": {
                    "type": "number",
                    "description": "Multa por atraso <code>precisão 2</code>.",
                    "format": "float"
                  },
                  "clientControlNumber": {
                    "type": "string",
                    "description": "Identificador próprio de uso da empresa<br><code>Alfanumérico - 25 caracteres</code>"
                  },
                  "expiresAfter": {
                    "type": "integer",
                    "description": "Dias para baixa após o vencimento",
                    "format": "int32"
                  },
                  "discount": {
                    "type": "object",
                    "description": "Desconto aplicado na cobrança",
                    "properties": {
                      "range": {
                        "type": "string",
                        "description": "Data limite para aplicação do desconto.",
                        "format": "date"
                      },
                      "discountType": {
                        "type": "string",
                        "description": "tipo do desconto. valores possíveis fixed e percentage."
                      },
                      "discountValue": {
                        "type": "number",
                        "description": "Valor do desconto.",
                        "format": "float"
                      }
                    }
                  },
                  "payer": {
                    "type": "object",
                    "description": "Dados do pagador da cobrança<br>Caso o pagador já esteja cadastrado, é possível enviar apenas o <code>documentNumber</code> que a API completará os demais dados",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome do pagador."
                      },
                      "documentNumber": {
                        "type": "string",
                        "description": "Documento do pagador."
                      },
                      "email": {
                        "type": "string",
                        "description": "E-mail do pagador."
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "street": {
                            "type": "string",
                            "description": "Rua do endereço do pagador."
                          },
                          "neighborhood": {
                            "type": "string",
                            "description": "Bairro do pagador."
                          },
                          "number": {
                            "type": "string",
                            "description": "número da residência do pagador."
                          },
                          "state": {
                            "type": "string",
                            "description": "Estado do endereço do pagador."
                          },
                          "city": {
                            "type": "string",
                            "description": "Cidade do endereço do pagador."
                          },
                          "zipCode": {
                            "type": "string",
                            "description": "CEP do pagador."
                          },
                          "complement": {
                            "type": "string",
                            "description": "Complemento do endereço do pagador."
                          },
                          "country": {
                            "type": "string",
                            "description": "País do pagador."
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "properties": {
                          "number": {
                            "type": "string",
                            "description": "Número do telefone do pagador."
                          },
                          "areaCode": {
                            "type": "string",
                            "description": "Código de área do pagador."
                          },
                          "countryCode": {
                            "type": "string",
                            "description": "Código do país do pagador."
                          }
                        }
                      }
                    }
                  },
                  "boletoDetails": {
                    "type": "object",
                    "description": "Atributos adicionais para gerar boletos pré-impressos",
                    "properties": {
                      "ourNumber": {
                        "type": "string",
                        "description": "Nosso número do boleto"
                      },
                      "yourNumber": {
                        "type": "string",
                        "description": "Seu número do boleto"
                      },
                      "registrationMethod": {
                        "type": "string",
                        "description": "Método de registro do boleto. Valores possíveis: online e offline."
                      },
                      "messagingRuleId": {
                        "type": "string",
                        "description": "Régua de cobrança."
                      },
                      "titleType": {
                        "type": "string",
                        "description": "Natureza da cobrança.",
                        "default": "several",
                        "enum": [
                          "several",
                          "trade_bill",
                          "promissory_note",
                          "insurance_note",
                          "monthly_tuition",
                          "receipt",
                          "contract",
                          "cosseguros",
                          "service_bill",
                          "bill_exchange",
                          "debit_note",
                          "debt_document",
                          "condominium_fees",
                          "service_account"
                        ]
                      },
                      "observation": {
                        "type": "string",
                        "description": "Instruções do boleto bancário."
                      }
                    }
                  },
                  "grantor": {
                    "type": "object",
                    "description": "Dados do Sacador / Avalista. *Obrigatório para abertura de protesto.*",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome do Sacador / Avalista"
                      },
                      "documentNumber": {
                        "type": "string",
                        "description": "CPF ou CNPJ do Sacador / Avalista"
                      },
                      "Address": {
                        "type": "object",
                        "description": "Endereço do Sacador / Avalista. <b> Obrigatório para abertura de protestos </b>",
                        "properties": {
                          "street": {
                            "type": "string",
                            "description": "Rua do endereço do pagador."
                          },
                          "neighborhood": {
                            "type": "string",
                            "description": "Bairro do pagador."
                          },
                          "number": {
                            "type": "string",
                            "description": "número da residência do pagador."
                          },
                          "state": {
                            "type": "string",
                            "description": "Estado do endereço do pagador."
                          },
                          "city": {
                            "type": "string",
                            "description": "Cidade do endereço do pagador."
                          },
                          "zipCode": {
                            "type": "string",
                            "description": "CEP do pagador."
                          },
                          "complement": {
                            "type": "string",
                            "description": "Complemento do endereço do pagador."
                          },
                          "country": {
                            "type": "string",
                            "description": "País do pagador."
                          }
                        }
                      }
                    }
                  },
                  "receiptNumber": {
                    "type": "string",
                    "description": "Número da nota fiscal"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"id\": \"0e683d5d-61ce-445b-928e-3cc3340c0eda\",\n    \"type\": \"charge\",\n    \"attributes\": {\n      \"createdAt\": \"2023-12-07T13:27:23.653-03:00\",\n      \"updatedAt\": \"2023-12-07T13:27:23.653-03:00\",\n      \"status\": \"pending\",\n      \"paymentMethod\": \"boleto\",\n      \"dueDate\": \"2023-12-10\",\n      \"value\": 50,\n      \"discount\": {\n        \"range\": \"2023-12-08\",\n        \"discountType\": \"percentage\",\n        \"discountValue\": 5\n      },\n      \"abatementValue\": 5.2,\n      \"interestType\": \"percentage\",\n      \"interestValue\": 2,\n      \"applicableFine\": 2,\n      \"payer\": {\n        \"data\": {\n          \"type\": \"payer\",\n          \"attributes\": {\n            \"name\": \"Han Solo\",\n            \"documentNumber\": \"12345679891\",\n            \"email\": \"han.solo@dunder-mifflin.paper\",\n            \"address\": {\n              \"street\": \"Rua Dr. Albuquerque Lins\",\n              \"number\": \"2222\",\n              \"complement\": \"Apt 222\",\n              \"zipCode\": \"01230-000\",\n              \"neighborhood\": \"Santa Cecília\",\n              \"city\": \"São Paulo\",\n              \"state\": \"SP\"\n            },\n            \"phone\": {\n              \"countryCode\": \"55\",\n              \"areaCode\": \"51\",\n              \"number\": \"995562211\"\n            }\n          }\n        }\n      },\n      \"grantor\": {\n        \"data\": {\n          \"type\": \"grantor\",\n          \"attributes\": {\n            \"name\": \"Harrison Ford\",\n            \"documentNumber\": \"88650081000116\",\n            \"address\": {\n              \"street\": \"Avenida Vinte de Setembro\",\n              \"number\": \"456\",\n              \"complement\": \"Apto 987\",\n              \"zipCode\": \"93819-300\",\n              \"neighborhood\": \"São Jacó\",\n              \"city\": \"Sapiranga\",\n              \"state\": \"RS\"\n            }\n          }\n        }\n      },\n      \"fees\": {\n        \"data\": []\n      },\n      \"boleto\": {\n        \"data\": {\n          \"id\": \"a55b20c8-7896-44a2-8b42-53137cd09208\",\n          \"type\": \"boleto\",\n          \"attributes\": {\n            \"ourNumber\": 00000004321,\n            \"ourNumberDv\": 8,\n            \"barCode\": null,\n            \"emv\": null,\n            \"image\": null,\n            \"quickPdfUrl\": null,\n            \"lineCode\": null,\n            \"registrationStatus\": null,\n            \"pdf\": \"https://pagamentos.grafeno.be/charges/0e683d5d-61ce-445b-928e-3cc3340c0eda/download_boleto\",\n            \"yourNumber\": \"11119998\",\n            \"registrationMethod\": \"online\",\n            \"messagingRuleId\": \"589f899a-9650-45ce-aeda-937f49c27156\",\n            \"observation\": \"Sr(a) caixa, não receber o boleto após o vencimento\"\n          }\n        }\n      },\n      \"payments\": {\n        \"data\": []\n      },\n      \"clientControlNumber\": \"7543649847645556555553425\",\n      \"origin\": \"api\",\n      \"receiptNumber\": \"51080701212344000127550010000000981364117781\",\n      \"expiresAfter\": 90,\n      \"titleType\": \"monthly_tuition\"\n    }\n  }\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Número de conta inválido.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "Unauthorized"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": {\n        \"id\": \"\",\n        \"type\": \"charge\",\n        \"errors\": [\n            {\n                \"field\": \"field name\",\n                \"messages\": [\n                    \"simple error message\"\n                ]\n            }\n        ]\n    },\n    \"success\": false,\n    \"message\": \"complete error message\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": ""
                        },
                        "type": {
                          "type": "string",
                          "example": "charge"
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "field name"
                              },
                              "messages": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "simple error message"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "complete error message"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Listar cobranças",
        "description": "Listar todas cobranças da conta",
        "operationId": "listar-cobranças",
        "parameters": [
          {
            "name": "q[createdAtEq]",
            "in": "query",
            "description": "Data de criação igual a<br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[createdAtGt]",
            "in": "query",
            "description": "Data de criação <b>maior que</b><br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[createdAtLt]",
            "in": "query",
            "description": "Data de criação <b>menor que</b><br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[paidAtEq]",
            "in": "query",
            "description": "Data de pagamento<b> igual a </b><<br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[paidAtGt]",
            "in": "query",
            "description": "Data de pagamento<b>maior que </b><br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[paidAtLt]",
            "in": "query",
            "description": "Data de pagamento<b>menor que </b> <br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[statusEq]",
            "in": "query",
            "description": "Status da cobrança<br>valores permitidos: <code>pending</code> (pendente), <code>paid</code> (paga), <code>paid_externally</code> (baixada)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q[paymentMethodEq]",
            "in": "query",
            "description": "Método de pagamento<br>valores permitidos: <code>ted</code> ou <code>boleto</code>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q[dueDateEq]",
            "in": "query",
            "description": "Data de vencimento igual a<br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[dueDateGt]",
            "in": "query",
            "description": "Data de vencimento <b>maior que</b> <br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[dueDateLt]",
            "in": "query",
            "description": "Data de vencimento <b>menor que</b> <br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[yourNumberEq]",
            "in": "query",
            "description": "Seu número",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q[receivedAtEq]",
            "in": "query",
            "description": "Data de recebimento de pagamento <b>igual a </b><br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[receivedAtGt]",
            "in": "query",
            "description": "Data de recebimento de pagamento <b>maior que</b><br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "q[receivedAtLt]",
            "in": "query",
            "description": "Data de recebimento de pagamento <b>menor que</b> <br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens por página",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Número da página a consultar (para acessar a segunda ou demais páginas)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": [\n        {\n            \"id\": \"0e683d5d-61ce-445b-928e-3cc3340c0eda\",\n            \"type\": \"charge\",\n            \"attributes\": {\n                \"createdAt\": \"2023-12-07T13:27:23.653-03:00\",\n                \"updatedAt\": \"2023-12-07T15:02:02.101-03:00\",\n                \"origin\": \"api\",\n                \"status\": \"paid\",\n                \"dueDate\": \"2023-12-10\",\n                \"expiresAfter\": 90,\n                \"value\": 50.0,\n                \"paymentMethod\": \"boleto\",\n                \"clientControlNumber\": \"7543649847645556555553425\",\n                \"payer\": {\n                    \"data\": {\n                        \"type\": \"payer\",\n                        \"attributes\": {\n                            \"name\": \"Han Solo\",\n                            \"documentNumber\": \"12345679891\",\n                            \"email\": \"han.solo@dunder-mifflin.paper\",\n                            \"address\": {\n                                \"street\": \"Rua Dr. Albuquerque Lins\",\n                                \"number\": \"2222\",\n                                \"complement\": \"Apt 222\",\n                                \"zipCode\": \"01230-000\",\n                                \"neighborhood\": \"Santa Cecília\",\n                                \"city\": \"São Paulo\",\n                                \"state\": \"SP\"\n                            },\n                            \"phone\": {\n                                \"countryCode\": \"55\",\n                                \"areaCode\": \"51\",\n                                \"number\": \"995562211\"\n                            }\n                        }\n                    }\n                }\n            }\n        },\n        {\n            \"id\": \"8c5cd375-4de5-4dfe-97e8-c208d7b8e807\",\n            \"type\": \"charge\",\n            \"attributes\": {\n                \"createdAt\": \"2023-12-07T09:38:54.229-03:00\",\n                \"updatedAt\": \"2023-12-07T11:25:22.137-03:00\",\n                \"origin\": \"api\",\n                \"status\": \"paid_externally\",\n                \"dueDate\": \"2023-12-10\",\n                \"expiresAfter\": 90,\n                \"value\": 100.5,\n                \"paymentMethod\": \"boleto\",\n                \"clientControlNumber\": \"7543649847645556555553425\",\n                \"payer\": {\n                    \"data\": {\n                        \"type\": \"payer\",\n                        \"attributes\": {\n                            \"name\": \"Han Solo\",\n                            \"documentNumber\": \"12345679891\",\n                            \"email\": \"han.solo@dunder-mifflin.paper\",\n                            \"address\": {\n                                \"street\": \"Rua Dr. Albuquerque Lins\",\n                                \"number\": \"2222\",\n                                \"complement\": \"Apt 222\",\n                                \"zipCode\": \"01230-000\",\n                                \"neighborhood\": \"Santa Cecília\",\n                                \"city\": \"São Paulo\",\n                                \"state\": \"SP\"\n                            },\n                            \"phone\": {\n                                \"countryCode\": \"55\",\n                                \"areaCode\": \"51\",\n                                \"number\": \"995562211\"\n                            }\n                        }\n                    }\n                }\n            }\n        }\n    ],\n    \"meta\": {\n        \"search\": {},\n        \"pagination\": {\n            \"currentPage\": 1,\n            \"previousPage\": null,\n            \"nextPage\": 2,\n            \"perPage\": 25,\n            \"totalPages\": 157,\n            \"totalCount\": 3907\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "0e683d5d-61ce-445b-928e-3cc3340c0eda"
                          },
                          "type": {
                            "type": "string",
                            "example": "charge"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string",
                                "example": "2023-12-07T13:27:23.653-03:00"
                              },
                              "updatedAt": {
                                "type": "string",
                                "example": "2023-12-07T15:02:02.101-03:00"
                              },
                              "origin": {
                                "type": "string",
                                "example": "api"
                              },
                              "status": {
                                "type": "string",
                                "example": "paid"
                              },
                              "dueDate": {
                                "type": "string",
                                "example": "2023-12-10"
                              },
                              "expiresAfter": {
                                "type": "integer",
                                "example": 90,
                                "default": 0
                              },
                              "value": {
                                "type": "integer",
                                "example": 50,
                                "default": 0
                              },
                              "paymentMethod": {
                                "type": "string",
                                "example": "boleto"
                              },
                              "clientControlNumber": {
                                "type": "string",
                                "example": "7543649847645556555553425"
                              },
                              "payer": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "payer"
                                      },
                                      "attributes": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string",
                                            "example": "Han Solo"
                                          },
                                          "documentNumber": {
                                            "type": "string",
                                            "example": "12345679891"
                                          },
                                          "email": {
                                            "type": "string",
                                            "example": "han.solo@dunder-mifflin.paper"
                                          },
                                          "address": {
                                            "type": "object",
                                            "properties": {
                                              "street": {
                                                "type": "string",
                                                "example": "Rua Dr. Albuquerque Lins"
                                              },
                                              "number": {
                                                "type": "string",
                                                "example": "2222"
                                              },
                                              "complement": {
                                                "type": "string",
                                                "example": "Apt 222"
                                              },
                                              "zipCode": {
                                                "type": "string",
                                                "example": "01230-000"
                                              },
                                              "neighborhood": {
                                                "type": "string",
                                                "example": "Santa Cecília"
                                              },
                                              "city": {
                                                "type": "string",
                                                "example": "São Paulo"
                                              },
                                              "state": {
                                                "type": "string",
                                                "example": "SP"
                                              }
                                            }
                                          },
                                          "phone": {
                                            "type": "object",
                                            "properties": {
                                              "countryCode": {
                                                "type": "string",
                                                "example": "55"
                                              },
                                              "areaCode": {
                                                "type": "string",
                                                "example": "51"
                                              },
                                              "number": {
                                                "type": "string",
                                                "example": "995562211"
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "search": {
                          "type": "object",
                          "properties": {}
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "currentPage": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "previousPage": {},
                            "nextPage": {
                              "type": "integer",
                              "example": 2,
                              "default": 0
                            },
                            "perPage": {
                              "type": "integer",
                              "example": 25,
                              "default": 0
                            },
                            "totalPages": {
                              "type": "integer",
                              "example": 157,
                              "default": 0
                            },
                            "totalCount": {
                              "type": "integer",
                              "example": 3907,
                              "default": 0
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": false,\n  \"message\": \"Número de conta inválido.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "Unauthorized"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/cnab": {
      "get": {
        "summary": "Listar CNAB",
        "description": "Otimize sua rotina financeira com facilidade! Conheça nossa API de Conciliação Bancária.  Simplifique o acesso aos seus arquivos de retorno de forma automatizada. Adeus à carga manual!  Integre nossa solução e ganhe agilidade e precisão no processo de conciliação. Experimente a praticidade de  acessar seus dados financeiros de maneira rápida e segura. Liberte-se do trabalho manual e adote a eficiência da nossa API.",
        "operationId": "listar-cnab",
        "parameters": [
          {
            "name": "q[dateEq]",
            "in": "query",
            "description": "Data igual a.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Quantidade de itens por página",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página a consultar (para acessar a segunda ou demais páginas)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "Data do arquivo<br>Formato: <code>YYYY-MM-DD</code>",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\n    {\n      \"fileId\": 1608,\n      \"file\": \"https://grafeno-pagamentos.s3.amazonaws.com/uploads/cnab/record/1608/file/cnab_charge20210209-3977-25q8dv.ret?X-Amz-Expires=259200&X-Amz-Date=20210408T214154Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6GUDBFRJDLS2JG7S%2F20210408%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=df774fa7d3ab28613b167fc7a741a65c2971eb8f88600952663adfb602851ffd\",\n      \"date\": \"2021-02-09\",\n      \"accountNumber\": \"00002935-5\",\n      \"documentNumber\": \"159.283.550/001-12\",\n      \"accountName\": \"TESTES DE BOLETO\",\n      \"accountType\": \"company\"\n    },\n    {\n      \"fileId\": 1609,\n      \"file\": \"https://grafeno-pagamentos.s3.amazonaws.com/uploads/cnab/record/1609/file/cnab_charge20210209-3977-f9q1x.ret?X-Amz-Expires=259200&X-Amz-Date=20210408T214154Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6GUDBFRJDLS2JG7S%2F20210408%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=4c39f0593c9ae2c5fb08a6ca15f3842b9623308331255e3070d4a088f21a987c\",\n      \"date\": \"2021-02-09\",\n      \"accountNumber\": \"00002935-5\",\n      \"documentNumber\": \"159.283.550/001-12\",\n      \"accountName\": \"TESTES DE BOLETO\",\n      \"accountType\": \"company\"\n    }\n  ],\n  \"pagination\": {\n    \"total_pages\": 1,\n    \"current_page\": 1,\n    \"items_per_page\": 50,\n    \"count\": 2,\n    \"total_count\": 2\n  },\n  \"success\": true,\n  \"message\": \"OK\",\n  \"searched\": {\n    \"createdAtGtEq\": \"2021-02-09 00:00:00 -0300\",\n    \"createdAtLtEq\": \"2021-02-09 23:59:59 -0300\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileId": {
                            "type": "integer",
                            "example": 1608,
                            "default": 0
                          },
                          "file": {
                            "type": "string",
                            "example": "https://grafeno-pagamentos.s3.amazonaws.com/uploads/cnab/record/1608/file/cnab_charge20210209-3977-25q8dv.ret?X-Amz-Expires=259200&X-Amz-Date=20210408T214154Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA6GUDBFRJDLS2JG7S%2F20210408%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=df774fa7d3ab28613b167fc7a741a65c2971eb8f88600952663adfb602851ffd"
                          },
                          "date": {
                            "type": "string",
                            "example": "2021-02-09"
                          },
                          "accountNumber": {
                            "type": "string",
                            "example": "00002935-5"
                          },
                          "documentNumber": {
                            "type": "string",
                            "example": "159.283.550/001-12"
                          },
                          "accountName": {
                            "type": "string",
                            "example": "TESTES DE BOLETO"
                          },
                          "accountType": {
                            "type": "string",
                            "example": "company"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total_pages": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "current_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "items_per_page": {
                          "type": "integer",
                          "example": 50,
                          "default": 0
                        },
                        "count": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "total_count": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "OK"
                    },
                    "searched": {
                      "type": "object",
                      "properties": {
                        "createdAtGtEq": {
                          "type": "string",
                          "example": "2021-02-09 00:00:00 -0300"
                        },
                        "createdAtLtEq": {
                          "type": "string",
                          "example": "2021-02-09 23:59:59 -0300"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Número de conta inválido.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "unauthorized"
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/transfer_requests": {
      "post": {
        "summary": "Nova transferência",
        "description": "Este endpoint é usado para criar uma transferência no sistema.",
        "operationId": "nova-transferência",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Seu token Grafeno",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Account-Number",
            "in": "header",
            "description": "Número da conta",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transfer_request",
                  "beneficiary"
                ],
                "properties": {
                  "transfer_request": {
                    "type": "object",
                    "description": "Parâmetros para realizar transferência",
                    "properties": {
                      "transfer_method": {
                        "type": "string",
                        "description": "Método de transferência, podendo ser pix ou ted. Caso não seja informado, o padrão utilizado é ted.",
                        "default": "ted"
                      },
                      "value": {
                        "type": "number",
                        "description": "Valor da transferência.",
                        "format": "double"
                      },
                      "api_partner_transaction_uuid": {
                        "type": "string",
                        "description": "uuid da transferência"
                      },
                      "callback_url": {
                        "type": "string",
                        "description": "URL de notificação"
                      }
                    }
                  },
                  "beneficiary": {
                    "type": "object",
                    "description": "Verificar a tabela de atributos do beneficiário",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome do beneficiário"
                      },
                      "document_number": {
                        "type": "string",
                        "description": "Documento do beneficiário"
                      },
                      "bank_code": {
                        "type": "string",
                        "description": "Código do banco."
                      },
                      "agency": {
                        "type": "string",
                        "description": "Agência da conta bancária."
                      },
                      "account": {
                        "type": "string",
                        "description": "Número da conta bancária."
                      },
                      "uuid": {
                        "type": "string",
                        "description": "uuid do beneficiário."
                      },
                      "key_type": {
                        "type": "string",
                        "description": "Tipo de chave PIX do beneficiário. Valores possíveis: evp, cpf, cnpj, email e phone."
                      },
                      "key": {
                        "type": "string",
                        "description": "Chave PIX do beneficiário."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true,\n  \"message\": \"OK\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "OK"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Número de conta inválido.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "unauthorized"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"error message\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "error message"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/charges/{uuid}": {
      "patch": {
        "summary": "Atualizar cobrança",
        "description": "",
        "operationId": "atualizar-cobrança",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Id da cobrança",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dueDate": {
                    "type": "string",
                    "description": "Data de vencimento"
                  },
                  "abatementValue": {
                    "type": "string",
                    "description": "Valor do Abatimento"
                  },
                  "abatement": {
                    "type": "string",
                    "description": "Abatimento em porcentagem<br>(Será desconsiderado, se <code>abatementValue</code> for informado)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": {\n        \"id\": \"81207bd1-5366-4432-ba18-82e787f745e8\",\n        \"type\": \"charge\",\n        \"attributes\": {\n            \"createdAt\": \"2023-12-07T09:37:21.533-03:00\",\n            \"updatedAt\": \"2023-12-07T15:20:33.277-03:00\",\n            \"status\": \"pending\",\n            \"paymentMethod\": \"boleto\",\n            \"dueDate\": \"2024-12-22\",\n            \"value\": 100.5,\n            \"discount\": {\n                \"range\": \"2023-12-10\",\n                \"discountType\": \"percentage\",\n                \"discountValue\": 5.0\n            },\n            \"abatementValue\": 25.0,\n            \"interestType\": \"percentage\",\n            \"interestValue\": 0.8,\n            \"applicableFine\": 0.2,\n            \"payer\": {\n                \"data\": {\n                    \"type\": \"payer\",\n                    \"attributes\": {\n                        \"name\": \"Han Solo\",\n                        \"documentNumber\": \"12345679891\",\n                        \"email\": \"han.solo@dunder-mifflin.paper\",\n                        \"address\": {\n                            \"street\": \"Rua Dr. Albuquerque Lins\",\n                            \"number\": \"2222\",\n                            \"complement\": \"Apt 222\",\n                            \"zipCode\": \"01230-000\",\n                            \"neighborhood\": \"Santa Cecília\",\n                            \"city\": \"São Paulo\",\n                            \"state\": \"SP\"\n                        },\n                        \"phone\": {\n                            \"countryCode\": \"55\",\n                            \"areaCode\": \"51\",\n                            \"number\": \"995562211\"\n                        }\n                    }\n                }\n            },\n            \"grantor\": {\n                \"data\": {\n                    \"type\": \"grantor\",\n                    \"attributes\": {\n                        \"name\": \"Harry M. Lopes\",\n                        \"documentNumber\": \"12705274000165\",\n                        \"address\": {\n                            \"street\": \"Rua Dr. Albuquerque Lins\",\n                            \"number\": \"22\",\n                            \"complement\": \"Apt 222\",\n                            \"zipCode\": \"01230-000\",\n                            \"neighborhood\": \"Santa Cecília\",\n                            \"city\": \"São Paulo\",\n                            \"state\": \"SP\"\n                        }\n                    }\n                }\n            },\n            \"fees\": {\n                \"data\": []\n            },\n            \"boleto\": {\n                \"data\": {\n                    \"id\": \"ee92157e-70ce-4f27-b0d0-876adf934b97\",\n                    \"type\": \"boleto\",\n                    \"attributes\": {\n                        \"ourNumber\": null,\n                        \"ourNumberDv\": null,\n                        \"barCode\": null,\n                        \"emv\": null,\n                        \"image\": null,\n                        \"quickPdfUrl\": null,\n                        \"lineCode\": null,\n                        \"registrationStatus\": null,\n                        \"pdf\": \"https://pagamentos.grafeno.be/charges/81207bd1-5366-4432-ba18-82e787f745e8/download_boleto\",\n                        \"yourNumber\": \"11119999\",\n                        \"registrationMethod\": \"online\",\n                        \"messagingRuleId\": \"589f899a-9650-45ce-aeda-937f49c27156\",\n                        \"observation\": \"Sr(a) caixa, não receber o boleto após o vencimento\"\n                    }\n                }\n            },\n            \"payments\": {\n                \"data\": []\n            },\n            \"clientControlNumber\": \"7543649847645556555553425\",\n            \"origin\": \"api\",\n            \"receiptNumber\": \"51080701212344000127550010000000981364117781\",\n            \"expiresAfter\": 90,\n            \"titleType\": \"monthly_tuition\"\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "81207bd1-5366-4432-ba18-82e787f745e8"
                        },
                        "type": {
                          "type": "string",
                          "example": "charge"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "createdAt": {
                              "type": "string",
                              "example": "2023-12-07T09:37:21.533-03:00"
                            },
                            "updatedAt": {
                              "type": "string",
                              "example": "2023-12-07T15:20:33.277-03:00"
                            },
                            "status": {
                              "type": "string",
                              "example": "pending"
                            },
                            "paymentMethod": {
                              "type": "string",
                              "example": "boleto"
                            },
                            "dueDate": {
                              "type": "string",
                              "example": "2024-12-22"
                            },
                            "value": {
                              "type": "number",
                              "example": 100.5,
                              "default": 0
                            },
                            "discount": {
                              "type": "object",
                              "properties": {
                                "range": {
                                  "type": "string",
                                  "example": "2023-12-10"
                                },
                                "discountType": {
                                  "type": "string",
                                  "example": "percentage"
                                },
                                "discountValue": {
                                  "type": "integer",
                                  "example": 5,
                                  "default": 0
                                }
                              }
                            },
                            "abatementValue": {
                              "type": "integer",
                              "example": 25,
                              "default": 0
                            },
                            "interestType": {
                              "type": "string",
                              "example": "percentage"
                            },
                            "interestValue": {
                              "type": "number",
                              "example": 0.8,
                              "default": 0
                            },
                            "applicableFine": {
                              "type": "number",
                              "example": 0.2,
                              "default": 0
                            },
                            "payer": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "payer"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "example": "Han Solo"
                                        },
                                        "documentNumber": {
                                          "type": "string",
                                          "example": "12345679891"
                                        },
                                        "email": {
                                          "type": "string",
                                          "example": "han.solo@dunder-mifflin.paper"
                                        },
                                        "address": {
                                          "type": "object",
                                          "properties": {
                                            "street": {
                                              "type": "string",
                                              "example": "Rua Dr. Albuquerque Lins"
                                            },
                                            "number": {
                                              "type": "string",
                                              "example": "2222"
                                            },
                                            "complement": {
                                              "type": "string",
                                              "example": "Apt 222"
                                            },
                                            "zipCode": {
                                              "type": "string",
                                              "example": "01230-000"
                                            },
                                            "neighborhood": {
                                              "type": "string",
                                              "example": "Santa Cecília"
                                            },
                                            "city": {
                                              "type": "string",
                                              "example": "São Paulo"
                                            },
                                            "state": {
                                              "type": "string",
                                              "example": "SP"
                                            }
                                          }
                                        },
                                        "phone": {
                                          "type": "object",
                                          "properties": {
                                            "countryCode": {
                                              "type": "string",
                                              "example": "55"
                                            },
                                            "areaCode": {
                                              "type": "string",
                                              "example": "51"
                                            },
                                            "number": {
                                              "type": "string",
                                              "example": "995562211"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "grantor": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "grantor"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "example": "Harry M. Lopes"
                                        },
                                        "documentNumber": {
                                          "type": "string",
                                          "example": "12705274000165"
                                        },
                                        "address": {
                                          "type": "object",
                                          "properties": {
                                            "street": {
                                              "type": "string",
                                              "example": "Rua Dr. Albuquerque Lins"
                                            },
                                            "number": {
                                              "type": "string",
                                              "example": "22"
                                            },
                                            "complement": {
                                              "type": "string",
                                              "example": "Apt 222"
                                            },
                                            "zipCode": {
                                              "type": "string",
                                              "example": "01230-000"
                                            },
                                            "neighborhood": {
                                              "type": "string",
                                              "example": "Santa Cecília"
                                            },
                                            "city": {
                                              "type": "string",
                                              "example": "São Paulo"
                                            },
                                            "state": {
                                              "type": "string",
                                              "example": "SP"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "fees": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array"
                                }
                              }
                            },
                            "boleto": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "example": "ee92157e-70ce-4f27-b0d0-876adf934b97"
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "boleto"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {
                                        "ourNumber": {},
                                        "ourNumberDv": {},
                                        "barCode": {},
                                        "emv": {},
                                        "image": {},
                                        "quickPdfUrl": {},
                                        "lineCode": {},
                                        "registrationStatus": {},
                                        "pdf": {
                                          "type": "string",
[...]
