{
  "openapi": "3.1.0",
  "info": {
    "title": "API V2 Grafeno",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://pagamentos.grafeno.be/api/v2"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "Account-Number"
      },
      "sec1": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "x-bearer-format": ""
      }
    }
  },
  "security": [
    {
      "sec0": [],
      "sec1": []
    }
  ],
  "paths": {
    "/statement_entries": {
      "get": {
        "summary": "Listar Movimentações da Conta",
        "description": "Esse Endpot retorna todas as movimentações das contas bancárias",
        "operationId": "listar-movimentações-da-conta",
        "parameters": [
          {
            "name": "search[entryAtGtEq]",
            "in": "query",
            "description": "Formato: [YYYY-MM-DD] - Data de entrada maior ou igual ao padrão | padrão: primeiro dia do mês corrente",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search[entryAtLtEq]",
            "in": "query",
            "description": "Formato: [YYYY-MM-DD] - Data de entrada menor ou igual ao padrão | padrão: primeiro dia do mês corrente",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Para acessar a segunda ou demais páginas",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\n    {\n      \"uuid\": \"d772b0ec-906e-4c32-bb41-d289979d3e72\",\n      \"entry_at\": \"2020-04-22T10:11:44.860-03:00\",\n      \"kind\": \"Transferência\",\n      \"bank_account\": {\n        \"name\": \"Grafeno - Cliente 2\",\n        \"document_number\": \"61.488.375/7913-20\",\n        \"agency\": \"0001\",\n        \"account\": \"00008147-1\"\n      },\n      \"value\": \"-1111.11\",\n      \"api_partner_transaction_uuid\": \"e7dd4a75-34ce-4b06-b7f5-421f1ad7c3d1\",\n      \"balance\": \"100.00\"\n    }\n  ],\n  \"pagination\": {\n    \"total_pages\": 1,\n    \"current_page\": 1,\n    \"items_per_page\": 50,\n    \"count\": 1\n  },\n  \"success\": true,\n  \"message\": \"OK\",\n  \"searched\": {\n    \"entry_at_gteq\": \"2020-04-01\",\n    \"entry_at_lteq\": \"2020-04-30\"\n  },\n  \"current_balance\": \"999998888.89\",\n  \"available_balance\": \"999998888.89\",\n  \"final_balance\": \"999998888.89\",\n  \"initial_balance\": \"1000000000\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uuid": {
                            "type": "string",
                            "example": "d772b0ec-906e-4c32-bb41-d289979d3e72"
                          },
                          "entry_at": {
                            "type": "string",
                            "example": "2020-04-22T10:11:44.860-03:00"
                          },
                          "kind": {
                            "type": "string",
                            "example": "Transferência"
                          },
                          "bank_account": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "Grafeno - Cliente 2"
                              },
                              "document_number": {
                                "type": "string",
                                "example": "61.488.375/7913-20"
                              },
                              "agency": {
                                "type": "string",
                                "example": "0001"
                              },
                              "account": {
                                "type": "string",
                                "example": "00008147-1"
                              }
                            }
                          },
                          "value": {
                            "type": "string",
                            "example": "-1111.11"
                          },
                          "api_partner_transaction_uuid": {
                            "type": "string",
                            "example": "e7dd4a75-34ce-4b06-b7f5-421f1ad7c3d1"
                          },
                          "balance": {
                            "type": "string",
                            "example": "100.00"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total_pages": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "current_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "items_per_page": {
                          "type": "integer",
                          "example": 50,
                          "default": 0
                        },
                        "count": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "OK"
                    },
                    "searched": {
                      "type": "object",
                      "properties": {
                        "entry_at_gteq": {
                          "type": "string",
                          "example": "2020-04-01"
                        },
                        "entry_at_lteq": {
                          "type": "string",
                          "example": "2020-04-30"
                        }
                      }
                    },
                    "current_balance": {
                      "type": "string",
                      "example": "999998888.89"
                    },
                    "available_balance": {
                      "type": "string",
                      "example": "999998888.89"
                    },
                    "final_balance": {
                      "type": "string",
                      "example": "999998888.89"
                    },
                    "initial_balance": {
                      "type": "string",
                      "example": "1000000000"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": false,\n  \"message\": \"Número de conta inválido.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "Unauthorized"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {},
              "examples": {
                "Request Example": {
                  "value": {
                    "data": [
                      {
                        "uuid": "d772b0ec-906e-4c32-bb41-d289979d3e72",
                        "entry_at": "2020-04-22T10:11:44.860-03:00",
                        "kind": "Transferência",
                        "bank_account": {
                          "name": "Grafeno - Cliente 2",
                          "document_number": "61.488.375/7913-20",
                          "agency": "0001",
                          "account": "00008147-1"
                        },
                        "value": "-1111.11",
                        "api_partner_transaction_uuid": "e7dd4a75-34ce-4b06-b7f5-421f1ad7c3d1",
                        "balance": "100.00"
                      }
                    ],
                    "pagination": {
                      "total_pages": 1,
                      "current_page": 1,
                      "items_per_page": 50,
                      "count": 1
                    },
                    "success": true,
                    "message": "OK",
                    "searched": {
                      "entry_at_gteq": "2020-04-01",
                      "entry_at_lteq": "2020-04-30"
                    },
                    "current_balance": "999998888.89",
                    "available_balance": "999998888.89",
                    "final_balance": "999998888.89",
                    "initial_balance": "1000000000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/beneficiaries": {
      "get": {
        "summary": "Todos os beneficiários da conta",
        "description": "Este endpoint retorna todos os beneficiários da conta.",
        "operationId": "todos-os-beneficiários",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": [\n        {\n            \"id\": \"6d9b121a-00ad-4ee4-bf27-65a71e06659a\",\n            \"type\": \"beneficiary\",\n            \"attributes\": {\n                \"name\": \"VIVI ATUAL (NF)\",\n                \"agency\": \"0001\",\n                \"account\": \"8114464-4\",\n                \"documentNumber\": \"26***4650001**\",\n                \"bankCode\": \"274\",\n                \"createdAt\": \"2023-09-18T11:09:50.666-03:00\",\n                \"updatedAt\": \"2023-09-18T11:09:50.666-03:00\",\n                \"releaseAt\": \"2023-09-18T11:09:50.667-03:00\",\n                \"pixDetails\": {\n                    \"keyType\": \"evp\",\n                    \"key\": \"41709f71-6209-47bd-ae44-ccc784ff6c44\"\n                }\n            }\n        },\n        {\n            \"id\": \"0ae7a2f9-f733-4f59-94df-f00b6b305328\",\n            \"type\": \"beneficiary\",\n            \"attributes\": {\n                \"name\": \"COMERCIAL GRAFENO PADRÃO\",\n                \"agency\": \"0001\",\n                \"account\": \"08137651-9\",\n                \"documentNumber\": \"65739871000177\",\n                \"bankCode\": \"274\",\n                \"createdAt\": \"2023-09-15T12:04:54.235-03:00\",\n                \"updatedAt\": \"2023-09-15T12:04:54.235-03:00\",\n                \"releaseAt\": \"2023-09-15T12:04:54.235-03:00\"\n            }\n        },\n        {\n            \"id\": \"6f2711cd-fa85-4d06-813b-bd9f72e9b7d5\",\n            \"type\": \"beneficiary\",\n            \"attributes\": {\n                \"name\": \"COMERCIAL GRAFENO PADRÃO\",\n                \"agency\": \"0001\",\n                \"account\": \"8137651-9\",\n                \"documentNumber\": \"65***8710001**\",\n                \"bankCode\": \"274\",\n                \"createdAt\": \"2023-09-15T12:04:28.530-03:00\",\n                \"updatedAt\": \"2023-09-15T12:04:28.530-03:00\",\n                \"releaseAt\": \"2023-09-15T12:04:28.530-03:00\",\n                \"pixDetails\": {\n                    \"keyType\": \"cnpj\",\n                    \"key\": \"65739871000177\"\n                }\n            }\n        }\n    ],\n    \"meta\": {\n        \"search\": {},\n        \"pagination\": {\n            \"currentPage\": 1,\n            \"previousPage\": null,\n            \"nextPage\": 2,\n            \"perPage\": 25,\n            \"totalPages\": 3,\n            \"totalCount\": 59\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "6d9b121a-00ad-4ee4-bf27-65a71e06659a"
                          },
                          "type": {
                            "type": "string",
                            "example": "beneficiary"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "VIVI ATUAL (NF)"
                              },
                              "agency": {
                                "type": "string",
                                "example": "0001"
                              },
                              "account": {
                                "type": "string",
                                "example": "8114464-4"
                              },
                              "documentNumber": {
                                "type": "string",
                                "example": "26***4650001**"
                              },
                              "bankCode": {
                                "type": "string",
                                "example": "274"
                              },
                              "createdAt": {
                                "type": "string",
                                "example": "2023-09-18T11:09:50.666-03:00"
                              },
                              "updatedAt": {
                                "type": "string",
                                "example": "2023-09-18T11:09:50.666-03:00"
                              },
                              "releaseAt": {
                                "type": "string",
                                "example": "2023-09-18T11:09:50.667-03:00"
                              },
                              "pixDetails": {
                                "type": "object",
                                "properties": {
                                  "keyType": {
                                    "type": "string",
                                    "example": "evp"
                                  },
                                  "key": {
                                    "type": "string",
                                    "example": "41709f71-6209-47bd-ae44-ccc784ff6c44"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "search": {
                          "type": "object",
                          "properties": {}
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "currentPage": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "previousPage": {},
                            "nextPage": {
                              "type": "integer",
                              "example": 2,
                              "default": 0
                            },
                            "perPage": {
                              "type": "integer",
                              "example": 25,
                              "default": 0
                            },
                            "totalPages": {
                              "type": "integer",
                              "example": 3,
                              "default": 0
                            },
                            "totalCount": {
                              "type": "integer",
                              "example": 59,
                              "default": 0
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Número de conta inválido.\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "unauthorized"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Adicionar beneficiários",
        "description": "Esse endpoint é usado para adicionar beneficiários à conta",
        "operationId": "adicionar-beneficiários",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do beneficiário"
                  },
                  "document_number": {
                    "type": "string",
                    "description": "Documento do beneficiário"
                  },
                  "bank_code": {
                    "type": "string",
                    "description": "Código do banco do beneficiário."
                  },
                  "agency": {
                    "type": "string",
                    "description": "Agência da conta bancária do beneficiário."
                  },
                  "account": {
                    "type": "string",
                    "description": "Conta bancária do beneficiário."
                  },
                  "pix_details": {
                    "type": "object",
                    "description": "Dados referentes a chave PIX do beneficiário.",
                    "properties": {
                      "key": {
                        "type": "string",
                        "description": "Chave PIX do beneficiário"
                      },
                      "key_type": {
                        "type": "string",
                        "description": "Tipo da chave PIX do beneficiário. valores possíveis: CNPJ, CPF, email, phone, evp."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": {\n        \"id\": \"2cd409bd-46a0-4724-aecf-5f3a34df41ef\",\n        \"type\": \"beneficiary\",\n        \"attributes\": {\n            \"name\": \"Testing creditor\",\n            \"agency\": \"0001\",\n            \"account\": \"8114464-4\",\n            \"documentNumber\": \"26***4650001**\",\n            \"bankCode\": \"274\",\n            \"createdAt\": \"2023-09-18T11:14:35.876-03:00\",\n            \"updatedAt\": \"2023-09-18T11:14:35.876-03:00\",\n            \"releaseAt\": \"2023-09-18T11:14:35.876-03:00\",\n            \"pixDetails\": {\n                \"keyType\": \"evp\",\n                \"key\": \"41709f71-6209-47bd-ae44-ccc784ff6c44\"\n            }\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "2cd409bd-46a0-4724-aecf-5f3a34df41ef"
                        },
                        "type": {
                          "type": "string",
                          "example": "beneficiary"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "Testing creditor"
                            },
                            "agency": {
                              "type": "string",
                              "example": "0001"
                            },
                            "account": {
                              "type": "string",
                              "example": "8114464-4"
                            },
                            "documentNumber": {
                              "type": "string",
                              "example": "26***4650001**"
                            },
                            "bankCode": {
                              "type": "string",
                              "example": "274"
                            },
                            "createdAt": {
                              "type": "string",
                              "example": "2023-09-18T11:14:35.876-03:00"
                            },
                            "updatedAt": {
                              "type": "string",
                              "example": "2023-09-18T11:14:35.876-03:00"
                            },
                            "releaseAt": {
                              "type": "string",
                              "example": "2023-09-18T11:14:35.876-03:00"
                            },
                            "pixDetails": {
                              "type": "object",
                              "properties": {
                                "keyType": {
                                  "type": "string",
                                  "example": "evp"
                                },
                                "key": {
                                  "type": "string",
                                  "example": "41709f71-6209-47bd-ae44-ccc784ff6c44"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Número de conta inválido.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "unauthorized"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"error message\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "error message"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/charges": {
      "post": {
        "summary": "Criar cobrança",
        "description": "",
        "operationId": "criação-de-cobranças",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "paymentMethod",
                  "dueDate",
                  "value"
                ],
                "properties": {
                  "paymentMethod": {
                    "type": "string",
                    "description": "Método de pagamento da cobrança.<br>Valores permitidos: <code>boleto</code>, <code>pix</code> e <code>ted</code> .",
                    "default": "pix"
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "Data de vencimento.<br>Formato: <code>YYYY-MM-DD</code>.",
                    "format": "date"
                  },
                  "value": {
                    "type": "number",
                    "description": "Valor da cobrança <code>precisão 2</code>.",
                    "format": "float"
                  },
                  "abatementValue": {
                    "type": "number",
                    "description": "Valor do Abatimento <code>precisão 2</code>.",
                    "format": "float"
                  },
                  "abatement": {
                    "type": "number",
                    "description": "Abatimento em percentual <code>precisão 2</code><br>(Será desconsiderado, caso <code>abatementValue</code> seja informado).",
                    "format": "float"
                  },
                  "interestType": {
                    "type": "string",
                    "description": "Tipo de cobrança de juros.<br>Valores permitidos <code>fixed_value</code> ou <code>percentage</code>."
                  },
                  "interestValue": {
                    "type": "number",
                    "description": "Valor dos juros por mês. Valores inteiros ou decimais com <code>precisão 2</code>.",
                    "format": "float"
                  },
                  "applicableFine": {
                    "type": "number",
                    "description": "Multa por atraso <code>precisão 2</code>.",
                    "format": "float"
                  },
                  "clientControlNumber": {
                    "type": "string",
                    "description": "Identificador próprio de uso da empresa<br><code>Alfanumérico - 25 caracteres</code>"
                  },
                  "expiresAfter": {
                    "type": "integer",
                    "description": "Dias para baixa após o vencimento",
                    "format": "int32"
                  },
                  "discount": {
                    "type": "object",
                    "description": "Desconto aplicado na cobrança",
                    "properties": {
                      "range": {
                        "type": "string",
                        "description": "Data limite para aplicação do desconto.",
                        "format": "date"
                      },
                      "discountType": {
                        "type": "string",
                        "description": "tipo do desconto. valores possíveis fixed e percentage."
                      },
                      "discountValue": {
                        "type": "number",
                        "description": "Valor do desconto.",
                        "format": "float"
                      }
                    }
                  },
                  "payer": {
                    "type": "object",
                    "description": "Dados do pagador da cobrança<br>Caso o pagador já esteja cadastrado, é possível enviar apenas o <code>documentNumber</code> que a API completará os demais dados",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome do pagador."
                      },
                      "documentNumber": {
                        "type": "string",
                        "description": "Documento do pagador."
                      },
                      "email": {
                        "type": "string",
                        "description": "E-mail do pagador."
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "street": {
                            "type": "string",
                            "description": "Rua do endereço do pagador."
                          },
                          "neighborhood": {
                            "type": "string",
                            "description": "Bairro do pagador."
                          },
                          "number": {
                            "type": "string",
                            "description": "número da residência do pagador."
                          },
                          "state": {
                            "type": "string",
                            "description": "Estado do endereço do pagador."
                          },
                          "city": {
                            "type": "string",
                            "description": "Cidade do endereço do pagador."
                          },
                          "zipCode": {
                            "type": "string",
                            "description": "CEP do pagador."
                          },
                          "complement": {
                            "type": "string",
                            "description": "Complemento do endereço do pagador."
                          },
                          "country": {
                            "type": "string",
                            "description": "País do pagador."
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "properties": {
                          "number": {
                            "type": "string",
                            "description": "Número do telefone do pagador."
                          },
                          "areaCode": {
                            "type": "string",
                            "description": "Código de área do pagador."
                          },
                          "countryCode": {
                            "type": "string",
                            "description": "Código do país do pagador."
                          }
                        }
                      }
                    }
                  },
                  "boletoDetails": {
                    "type": "object",
                    "description": "Atributos adicionais para gerar boletos pré-impressos",
                    "properties": {
                      "ourNumber": {
                        "type": "string",
                        "description": "Nosso número do boleto"
                      },
                      "yourNumber": {
                        "type": "string",
                        "description": "Seu número do boleto"
                      },
                      "registrationMethod": {
                        "type": "string",
                        "description": "Método de registro do boleto. Valores possíveis: online e offline."
                      },
                      "messagingRuleId": {
                        "type": "string",
                        "description": "Régua de cobrança."
                      },
                      "titleType": {
                        "type": "string",
                        "description": "Tipo de cobrança."
                      },
                      "observation": {
                        "type": "string",
                        "description": "Instruções do boleto bancário."
                      }
                    }
                  },
                  "grantor": {
                    "type": "object",
                    "description": "Dados do sacador/avalista",
                    "properties": {}
                  },
                  "receiptNumber": {
                    "type": "string",
                    "description": "Número da nota fiscal"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"uuid\": \"922da8cc-4e5c-4ab7-bc10-4623139660dc\",\n    \"createdAt\": \"2020-07-10T16:59:32.633-03:00\"\n  },\n  \"success\": true,\n  \"message\": \"OK\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "example": "922da8cc-4e5c-4ab7-bc10-4623139660dc"
                        },
                        "createdAt": {
                          "type": "string",
                          "example": "2020-07-10T16:59:32.633-03:00"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "OK"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Número de conta inválido.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "Unauthorized"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": {\n        \"id\": \"\",\n        \"type\": \"charge\",\n        \"errors\": [\n            {\n                \"field\": \"field name\",\n                \"messages\": [\n                    \"simple error message\"\n                ]\n            }\n        ]\n    },\n    \"success\": false,\n    \"message\": \"complete error message\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": ""
                        },
                        "type": {
                          "type": "string",
                          "example": "charge"
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "example": "field name"
                              },
                              "messages": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "simple error message"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "complete error message"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/transfer_requests": {
      "post": {
        "summary": "Nova transferência",
        "description": "Este endpoint é usado para criar uma transferência no sistema.",
        "operationId": "nova-transferência",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Seu token Grafeno",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Account-Number",
            "in": "header",
            "description": "Número da conta",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transfer_request",
                  "beneficiary"
                ],
                "properties": {
                  "transfer_request": {
                    "type": "object",
                    "description": "Parâmetros para realizar transferência",
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "Valor da transferência.",
                        "format": "double"
                      },
                      "api_partner_transaction_uuid": {
                        "type": "string",
                        "description": "uuid da transferência"
                      },
                      "callback_url": {
                        "type": "string",
                        "description": "URL de notificação"
                      }
                    }
                  },
                  "beneficiary": {
                    "type": "object",
                    "description": "Verificar a tabela de atributos do beneficiário",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome do beneficiário"
                      },
                      "document_number": {
                        "type": "string",
                        "description": "Documento do beneficiário"
                      },
                      "bank_code": {
                        "type": "string",
                        "description": "Código do banco."
                      },
                      "agency": {
                        "type": "string",
                        "description": "Agência da conta bancária."
                      },
                      "account": {
                        "type": "string",
                        "description": "Número da conta bancária."
                      },
                      "uuid": {
                        "type": "string",
                        "description": "uuid do beneficiário."
                      },
                      "key_type": {
                        "type": "string",
                        "description": "Tipo de chave PIX do beneficiário."
                      },
                      "key": {
                        "type": "string",
                        "description": "Chave PIX do beneficiário."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true,\n  \"message\": \"OK\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "OK"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Número de conta inválido.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "unauthorized"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"error message\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "error message"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/transfer_requests/{uuid}/update_state": {
      "patch": {
        "summary": "Aprovar ou rejeitar",
        "description": "Este endpoint e utilizado para aprovar ou rejeitar transferências. Usando ele não é necessário informar a conta.",
        "operationId": "aprovar-ou-rejeitar",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID da transferencia a ser aprovada ou rejeitada (Pode ser buscando na api de listar pendentes)",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "state"
                ],
                "properties": {
                  "state": {
                    "type": "string",
                    "description": "Indica se está aprovando ou rejeitando uma transferência.<br>valores permitidos: <code>approve</code> ou <code>reject</code>"
                  },
                  "reject_reason": {
                    "type": "string",
                    "description": "Motivo pelo que está sendo rejeitado."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "unauthorized"
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Record Not Found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Record Not Found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"error message\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "error message"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/transfer_requests/pending": {
      "get": {
        "summary": "Listar pendentes",
        "description": "Este endpoint é usado listar as transferências a serem aprovadas ou rejeitadas.",
        "operationId": "listar-pendentes",
        "parameters": [
          {
            "name": "created_at_gteq",
            "in": "query",
            "description": "Data de criação <b>maior</b> que<br>Formato: <code>YYYY-MM-DD HH:MM:SS</code>.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at_lteq",
            "in": "query",
            "description": "Data de criação <b>menor</b> que<br>Formato: <code>YYYY-MM-DD HH:MM:SS</code>.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "origin_account_cont",
            "in": "query",
            "description": "Número da conta de origem contém",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "origin_document_number_eq",
            "in": "query",
            "description": "Documento da conta de origem contém",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "origin_name_cont",
            "in": "query",
            "description": "Nome do participante da conta destino contém",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value_lteq",
            "in": "query",
            "description": "Valor <b>menor</b> ou igual a",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value_gteq",
            "in": "query",
            "description": "Valor <b>maior</b> ou igual a",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value_eq",
            "in": "query",
            "description": "Valor igual a",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination_document_number_eq",
            "in": "query",
            "description": "Documento da conta destino igual a",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination_company_name_cont",
            "in": "query",
            "description": "Razão social da conta destino contém",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\n    {\n      \"uuid\": \"0566f190-78d9-4670-9129-3cdf843497e7\",\n      \"api_partner_transaction_uuid\": \"7bab790a-9149-4277-937f-e87dba64c1b6\",\n      \"origin_bank_account\": {\n        \"agency\": \"0001\",\n        \"account\": \"00002024-8\",\n        \"name\": \"Beneficiário 1\"\n      },\n      \"associated_fund\": \"Fundo Teste\",\n      \"beneficiary\": {\n        \"company_name\": \"Beneficiário 2\",\n        \"destination_account\": {\n          \"agency\": \"0001\",\n          \"account\": \"00002332-5\",\n          \"name\": \"Grafeno - Cliente 2\"\n        }\n      },\n      \"transfer_details\": {\n        \"created_at\": \"2020-06-01T11:39:54.544-03:00\",\n        \"value\": \"200.0\",\n        \"source\": \"api\"\n      }\n    }\n  ],\n  \"pagination\": {\n    \"total_pages\": 1,\n    \"current_page\": 1,\n    \"items_per_page\": 50,\n    \"count\": 1,\n    \"total_count\": 1\n  },\n  \"success\": true,\n  \"message\": \"OK\",\n  \"searched\": {}\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uuid": {
                            "type": "string",
                            "example": "0566f190-78d9-4670-9129-3cdf843497e7"
                          },
                          "api_partner_transaction_uuid": {
                            "type": "string",
                            "example": "7bab790a-9149-4277-937f-e87dba64c1b6"
                          },
                          "origin_bank_account": {
                            "type": "object",
                            "properties": {
                              "agency": {
                                "type": "string",
                                "example": "0001"
                              },
                              "account": {
                                "type": "string",
                                "example": "00002024-8"
                              },
                              "name": {
                                "type": "string",
                                "example": "Beneficiário 1"
                              }
                            }
                          },
                          "associated_fund": {
                            "type": "string",
                            "example": "Fundo Teste"
                          },
                          "beneficiary": {
                            "type": "object",
                            "properties": {
                              "company_name": {
                                "type": "string",
                                "example": "Beneficiário 2"
                              },
                              "destination_account": {
                                "type": "object",
                                "properties": {
                                  "agency": {
                                    "type": "string",
                                    "example": "0001"
                                  },
                                  "account": {
                                    "type": "string",
                                    "example": "00002332-5"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Grafeno - Cliente 2"
                                  }
                                }
                              }
                            }
                          },
                          "transfer_details": {
                            "type": "object",
                            "properties": {
                              "created_at": {
                                "type": "string",
                                "example": "2020-06-01T11:39:54.544-03:00"
                              },
                              "value": {
                                "type": "string",
                                "example": "200.0"
                              },
                              "source": {
                                "type": "string",
                                "example": "api"
                              }
                            }
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total_pages": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "current_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "items_per_page": {
                          "type": "integer",
                          "example": 50,
                          "default": 0
                        },
                        "count": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "total_count": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "OK"
                    },
                    "searched": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "unauthorized"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/concessions/assignors/{assignor_id}/charges": {
      "get": {
        "summary": "Listar Cobranças Disponíveis",
        "description": "Lista todas as cobranças disponíveis para captura.",
        "operationId": "listar-cobrancas-disponiveis",
        "parameters": [
          {
            "name": "assignor_id",
            "in": "path",
            "description": "Id do acesso do cedente.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens para retornar por página",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Página a ser carregada",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s[]",
            "in": "query",
            "description": "Ordena os resultados usando o campo desejado, pode ser asc (crescente) ou desc (decrescente)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Filtra os resultados usando o campo desejado.",
            "schema": {
              "properties": {
                "paymentMethodEq": {
                  "type": "string"
                },
                "statusEq": {
                  "type": "string"
                },
                "dueDateEq": {
                  "type": "string"
                },
                "dueDateGteq": {
                  "type": "string"
                },
                "dueDateLteq": {
                  "type": "string"
                },
                "createdAtEq": {
                  "type": "string"
                },
                "createdAtGteq": {
                  "type": "string"
                },
                "createdAtLteq": {
                  "type": "string"
                },
                "payerDocumentNumberEq": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"id\": \"d8d74d12-88db-4b51-a6ca-6ac7bdd6cc23\",\n    \"type\": \"charge\",\n    \"attributes\": [\n      {\n        \"createdAt\": \"2021-01-01T00:00:00.000-03:00\",\n        \"updatedAt\": \"2021-01-01T00:00:00.000-03:00\",\n        \"status\": \"pending\",\n        \"paymentMethod\": \"boleto\",\n        \"dueDate\": \"2021-01-01T00:00:00.000-03:00\",\n        \"value\": \"20.0\",\n        \"payer\": {\n          \"data\": {\n            \"type\": \"payer\",\n            \"attributes\": {\n              \"name\": \"Grafeno Digital\",\n              \"documentNumber\": \"05944596991300\",\n              \"email\": \"your_email@grafeno.digital\"\n            }\n          }\n        },\n        \"clientControlNumber\": \"001-2\",\n        \"origin\": \"unknown\",\n        \"receiptNumber\": \"51080701212344000127550010000000981364117781\",\n        \"expiresAfter\": 90\n      }\n    ]\n  },\n  \"meta\": {\n    \"search\": {\n      \"filteredFieldEq\": \"grafeno\"\n    },\n    \"currentPage\": 2,\n    \"previousPage\": 1,\n    \"nextPage\": 3,\n    \"totalPages\": 5,\n    \"perPage\": 10,\n    \"totalCount\": 250\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "d8d74d12-88db-4b51-a6ca-6ac7bdd6cc23"
                        },
                        "type": {
                          "type": "string",
                          "example": "charge"
                        },
                        "attributes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string",
                                "example": "2021-01-01T00:00:00.000-03:00"
                              },
                              "updatedAt": {
                                "type": "string",
                                "example": "2021-01-01T00:00:00.000-03:00"
                              },
                              "status": {
                                "type": "string",
                                "example": "pending"
                              },
                              "paymentMethod": {
                                "type": "string",
                                "example": "boleto"
                              },
                              "dueDate": {
                                "type": "string",
                                "example": "2021-01-01T00:00:00.000-03:00"
                              },
                              "value": {
                                "type": "string",
                                "example": "20.0"
                              },
                              "payer": {
                                "type": "object",
                                "properties": {
                                  "data": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "payer"
                                      },
                                      "attributes": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string",
                                            "example": "Grafeno Digital"
                                          },
                                          "documentNumber": {
                                            "type": "string",
                                            "example": "05944596991300"
                                          },
                                          "email": {
                                            "type": "string",
                                            "example": "your_email@grafeno.digital"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "clientControlNumber": {
                                "type": "string",
                                "example": "001-2"
                              },
                              "origin": {
                                "type": "string",
                                "example": "unknown"
                              },
                              "receiptNumber": {
                                "type": "string",
                                "example": "51080701212344000127550010000000981364117781"
                              },
                              "expiresAfter": {
                                "type": "integer",
                                "example": 90,
                                "default": 0
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "search": {
                          "type": "object",
                          "properties": {
                            "filteredFieldEq": {
                              "type": "string",
                              "example": "grafeno"
                            }
                          }
                        },
                        "currentPage": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "previousPage": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "nextPage": {
                          "type": "integer",
                          "example": 3,
                          "default": 0
                        },
                        "totalPages": {
                          "type": "integer",
                          "example": 5,
                          "default": 0
                        },
                        "perPage": {
                          "type": "integer",
                          "example": 10,
                          "default": 0
                        },
                        "totalCount": {
                          "type": "integer",
                          "example": 250,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Número de conta inválido.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"errors\": [\n    \"Você precisa entrar ou registrar-se antes de continuar.\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Você precisa entrar ou registrar-se antes de continuar."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/concessions/assignors/{id}/catching": {
      "post": {
        "summary": "Capturar títulos",
        "description": "",
        "operationId": "capturar-titulos",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id do acesso do cedente",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "charges"
                ],
                "properties": {
                  "charges": {
                    "type": "array",
                    "description": "uuids das cobranças.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"id\": \"d8d74d12-88db-4b51-a6ca-6ac7bdd6cc23\",\n    \"type\": \"concession\",\n    \"attributes\": {\n      \"createdAt\": \"2021-01-01T00:00:00.000-03:00\",\n      \"updatedAt\": \"2021-01-01T00:00:00.000-03:00\",\n      \"status\": \"pending\",\n      \"type\": \"offering\",\n      \"fromAccount\": {\n        \"data\": {\n          \"id\": 5000,\n          \"type\": \"account\",\n          \"attributes\": {\n            \"agency\": \"0001\",\n            \"accountNumber\": \"00001111-4\",\n            \"documentNumber\": \"26146719000129\"\n          }\n        }\n      },\n      \"toAccount\": {\n        \"data\": {\n          \"id\": 5000,\n          \"type\": \"account\",\n          \"attributes\": {\n            \"agency\": \"0001\",\n            \"accountNumber\": \"00001112-2\",\n            \"documentNumber\": \"27214814000185\"\n          }\n        }\n      },\n      \"access\": {\n        \"data\": {\n          \"id\": \"d8d74d12-88db-4b51-a6ca-6ac7bdd6cc23\",\n          \"type\": \"access\",\n          \"attributes\": {\n            \"createdAt\": \"2021-01-01T00:00:00.000-03:00\",\n            \"updatedAt\": \"2021-01-01T00:00:00.000-03:00\",\n            \"expiresAt\": \"2021-01-01T00:00:00.000-03:00\",\n            \"status\": \"active\",\n            \"agreeType\": \"manual\"\n          }\n        }\n      },\n      \"charges\": {\n        \"data\": [\n          {\n            \"id\": \"d8d74d12-88db-4b51-a6ca-6ac7bdd6cc23\",\n            \"type\": \"charge\",\n            \"attributes\": {\n              \"clientControlNumber\": \"001-2\",\n              \"receiptNumber\": \"51080701212344000127550010000000981364117781\",\n              \"status\": \"pending\",\n              \"value\": \"20.0\",\n              \"dueDate\": \"2021-01-01T00:00:00.000-03:00\",\n              \"transferState\": \"transferred\",\n              \"payer\": {\n                \"data\": {\n                  \"type\": \"payer\",\n                  \"attributes\": {\n                    \"name\": \"Grafeno Digital\",\n                    \"documentNumber\": \"05944596991300\",\n                    \"email\": \"your_email@grafeno.digital\"\n                  }\n                }\n              }\n            }\n          }\n        ]\n      }\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "d8d74d12-88db-4b51-a6ca-6ac7bdd6cc23"
                        },
                        "type": {
                          "type": "string",
                          "example": "concession"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "createdAt": {
                              "type": "string",
                              "example": "2021-01-01T00:00:00.000-03:00"
                            },
                            "updatedAt": {
                              "type": "string",
                              "example": "2021-01-01T00:00:00.000-03:00"
                            },
                            "status": {
                              "type": "string",
                              "example": "pending"
                            },
                            "type": {
                              "type": "string",
                              "example": "offering"
                            },
                            "fromAccount": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "integer",
                                      "example": 5000,
                                      "default": 0
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "account"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {
                                        "agency": {
                                          "type": "string",
                                          "example": "0001"
                                        },
                                        "accountNumber": {
                                          "type": "string",
                                          "example": "00001111-4"
                                        },
                                        "documentNumber": {
                                          "type": "string",
                                          "example": "26146719000129"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "toAccount": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "integer",
                                      "example": 5000,
                                      "default": 0
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "account"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {
                                        "agency": {
                                          "type": "string",
                                          "example": "0001"
                                        },
                                        "accountNumber": {
                                          "type": "string",
                                          "example": "00001112-2"
                                        },
                                        "documentNumber": {
                                          "type": "string",
                                          "example": "27214814000185"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "access": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "example": "d8d74d12-88db-4b51-a6ca-6ac7bdd6cc23"
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "access"
                                    },
                                    "attributes": {
                                      "type": "object",
                                      "properties": {
                                        "createdAt": {
                                          "type": "string",
                                          "example": "2021-01-01T00:00:00.000-03:00"
                                        },
                                        "updatedAt": {
                                          "type": "string",
                                          "example": "2021-01-01T00:00:00.000-03:00"
                                        },
                                        "expiresAt": {
                                          "type": "string",
                                          "example": "2021-01-01T00:00:00.000-03:00"
                                        },
                                        "status": {
                                          "type": "string",
                                          "example": "active"
                                        },
                                        "agreeType": {
                                          "type": "string",
                                          "example": "manual"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "charges": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "example": "d8d74d12-88db-4b51-a6ca-6ac7bdd6cc23"
                                      },
                                      "type": {
                                        "type": "string",
                                        "example": "charge"
                                      },
                                      "attributes": {
                                        "type": "object",
                                        "properties": {
                                          "clientControlNumber": {
                                            "type": "string",
                                            "example": "001-2"
                                          },
                                          "receiptNumber": {
                                            "type": "string",
                                            "example": "51080701212344000127550010000000981364117781"
                                          },
                                          "status": {
                                            "type": "string",
                                            "example": "pending"
                                          },
                                          "value": {
                                            "type": "string",
                                            "example": "20.0"
                                          },
                                          "dueDate": {
                                            "type": "string",
                                            "example": "2021-01-01T00:00:00.000-03:00"
                                          },
                                          "transferState": {
                                            "type": "string",
                                            "example": "transferred"
                                          },
                                          "payer": {
                                            "type": "object",
                                            "properties": {
                                              "data": {
                                                "type": "object",
                                                "properties": {
                                                  "type": {
                                                    "type": "string",
                                                    "example": "payer"
                                                  },
                                                  "attributes": {
                                                    "type": "object",
                                                    "properties": {
                                                      "name": {
                                                        "type": "string",
                                                        "example": "Grafeno Digital"
                                                      },
                                                      "documentNumber": {
                                                        "type": "string",
                                                        "example": "05944596991300"
                                                      },
                                                      "email": {
                                                        "type": "string",
                                                        "example": "your_email@grafeno.digital"
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"errors\": [\n    \"Você precisa entrar ou registrar-se antes de continuar.\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Você precisa entrar ou registrar-se antes de continuar."
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"errors\": [\n    {\n      \"field\": \"field_test\",\n      \"details\": [\n        \"blank\"\n      ],\n      \"messages\": [\n        \"não pode ficar em branco\"\n      ]\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string",
                            "example": "field_test"
                          },
                          "details": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "blank"
                            }
                          },
                          "messages": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "não pode ficar em branco"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/concessions": {
      "get": {
        "summary": "Listar Concessões",
        "description": "Lista todas as cobranças disponíveis para captura.",
        "operationId": "listar-concessoes",
        "parameters": [
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens para retornar por página",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Página a ser carregada",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s[]",
            "in": "query",
            "description": "Ordena os resultados usando o campo desejado, pode ser asc (crescente) ou desc (decrescente)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Filtra os resultados usando o campo desejado.",
            "schema": {
              "properties": {},
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"id\": \"d8d74d12-88db-4b51-a6ca-6ac7bdd6cc23\",\n    \"type\": \"concession\",\n    \"attributes\": [\n      {\n        \"createdAt\": \"2021-01-01T00:00:00.000-03:00\",\n        \"updatedAt\": \"2021-01-01T00:00:00.000-03:00\",\n        \"status\": \"pending\",\n        \"accessId\": \"29f4817c-cd99-4e74-ba4a-c98f093ec29d\",\n        \"type\": \"offering\",\n        \"count\": 1,\n        \"value\": \"20.0\"\n      }\n    ]\n  },\n  \"meta\": {\n    \"search\": {\n      \"filteredFieldEq\": \"grafeno\"\n    },\n    \"currentPage\": 2,\n    \"previousPage\": 1,\n    \"nextPage\": 3,\n    \"totalPages\": 5,\n    \"perPage\": 10,\n    \"totalCount\": 250\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "d8d74d12-88db-4b51-a6ca-6ac7bdd6cc23"
                        },
                        "type": {
                          "type": "string",
                          "example": "concession"
                        },
                        "attributes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "createdAt": {
                                "type": "string",
                                "example": "2021-01-01T00:00:00.000-03:00"
                              },
                              "updatedAt": {
                                "type": "string",
                                "example": "2021-01-01T00:00:00.000-03:00"
                              },
                              "status": {
                                "type": "string",
                                "example": "pending"
                              },
                              "accessId": {
                                "type": "string",
                                "example": "29f4817c-cd99-4e74-ba4a-c98f093ec29d"
                              },
                              "type": {
                                "type": "string",
                                "example": "offering"
                              },
                              "count": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "value": {
                                "type": "string",
                                "example": "20.0"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "search": {
                          "type": "object",
                          "properties": {
                            "filteredFieldEq": {
                              "type": "string",
                              "example": "grafeno"
                            }
                          }
                        },
                        "currentPage": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "previousPage": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "nextPage": {
                          "type": "integer",
                          "example": 3,
                          "default": 0
                        },
                        "totalPages": {
                          "type": "integer",
                          "example": 5,
                          "default": 0
                        },
                        "perPage": {
                          "type": "integer",
                          "example": 10,
                          "default": 0
                        },
                        "totalCount": {
                          "type": "integer",
                          "example": 250,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"success\": false,\n    \"message\": \"Número de conta inválido.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Número de conta inválido."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"errors\": [\n    \"Você precisa entrar ou registrar-se antes de continuar.\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Você precisa entrar ou registrar-se antes de continuar."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/concessions/{id}": {
      "get": {
        "summary": "Detalhes da Concessão",
        "description": "Lista todas as cobranças disponíveis para captura.",
        "operationId": "detalhes-da-concessao",
        "parameters": [
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens para retornar por página",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Página a ser carregada",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s[]",
            "in": "query",
            "description": "Ordena os resultados usando o campo desejado, pode ser asc (crescente) ou desc (decrescente)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Filtra os resultados usando o campo desejado.",
            "schema": {
              "properties": {},
              "type": "object"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id da concessão",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
[...]
