{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://pagamentos.grafeno.be"
    }
  ],
  "info": {
    "description": "Grafeno Digital",
    "version": "v2",
    "title": "Pagamentos",
    "termsOfService": "https://docs.grafeno.digital/reference/termos-de-uso-e-pol%C3%ADticas-de-privacidade",
    "contact": {
      "email": "integracao@grafeno.digital"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags": [
    {
      "name": "ccb",
      "description": "Endpoints relacionados as CCBs."
    },
    {
      "name": "Contas Grafeno",
      "description": "Endpoints relacionados as contas grafeno."
    },
    {
      "name": "Cobranças",
      "description": "Endpoints relacionados as cobranças."
    },
    {
      "name": "Gestão de Titularidades",
      "description": "Endpoints relacionados a gestão de titularidades"
    },
    {
      "name": "Cedentes",
      "description": "Endpoints relacionados a cedentes"
    },
    {
      "name": "ficha-cadastral",
      "description": "Endpoints relacionado ao processo de cadastro das contas grafeno."
    },
    {
      "name": "Beneficiários",
      "description": "Endpoints relacionados aos beneficiários das contas grafeno."
    },
    {
      "name": "Transferências Bancárias",
      "description": "Endpoints relacionado a transferências"
    },
    {
      "name": "Notificações (webhook)",
      "description": "Endpoints relacionados a gestão dos webhooks das contas grafeno."
    },
    {
      "name": "check_user",
      "description": "Endpoints para integração com a URA Identificada (Atende Simples)."
    }
  ],
  "paths": {
    "/api/v2/ccb_requests/creditors": {
      "get": {
        "tags": [
          "ccb"
        ],
        "summary": "Listar Credores",
        "description": "Listar credores da CCB",
        "operationId": "ListarCredores",
        "parameters": [
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens para retornar por página",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Página a ser carregada",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s[]",
            "in": "query",
            "description": "Ordena os resultados usando o campo desejado, pode ser asc (crescente) ou desc (decrescente)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "description": "Filtra os resultados usando o campo desejado.",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "companyNameEq": {
                  "type": "string",
                  "example": "Grafeno",
                  "description": "Igual a"
                },
                "companyNameNotEq": {
                  "type": "string",
                  "example": "Grafeno",
                  "description": "Diferente de"
                },
                "companyNameCont": {
                  "type": "string",
                  "example": "Grafeno",
                  "description": "Contém"
                },
                "companyName": {
                  "type": "string",
                  "example": "Grafeno",
                  "description": "Em branco"
                },
                "nameEq": {
                  "type": "string",
                  "example": "Grafeno",
                  "description": "Igual a"
                },
                "nameNotEq": {
                  "type": "string",
                  "example": "Grafeno",
                  "description": "Diferente de"
                },
                "nameCont": {
                  "type": "string",
                  "example": "Grafeno",
                  "description": "Contém"
                },
                "name": {
                  "type": "string",
                  "example": "Grafeno",
                  "description": "Em branco"
                },
                "documentNumberEq": {
                  "type": "string",
                  "example": "Grafeno",
                  "description": "Igual a"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListarCredoresResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/ccb_requests/simulate": {
      "post": {
        "tags": [
          "ccb"
        ],
        "summary": "Simular",
        "description": "Simular CCB",
        "operationId": "Simular",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimularResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/Simular"
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/ccb_requests/{id}/upload_borrower_file": {
      "post": {
        "tags": [
          "ccb"
        ],
        "summary": "Enviar Documentos do Devedor",
        "description": "Enviar Documentos do Devedor",
        "operationId": "EnviarDocumentosDoDevedor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id da CCB",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnviarDocumentosDoDevedorResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/EnviarDocumentosDoDevedor"
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/ccb_requests/{id}/upload_guarantor_file": {
      "post": {
        "tags": [
          "ccb"
        ],
        "summary": "Enviar Documentos do Avalista",
        "description": "Enviar Documentos do Avalista",
        "operationId": "EnviarDocumentosDoAvalista",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id da CCB",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnviarDocumentosDoAvalistaResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/EnviarDocumentosDoAvalista"
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/ccb_requests/{id}/update_borrower": {
      "patch": {
        "tags": [
          "ccb"
        ],
        "summary": "Criar ou Atualizar Devedor",
        "description": "Criar ou Atualizar Devedor",
        "operationId": "CriarOuAtualizarDevedor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id da CCB",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CriarOuAtualizarDevedorResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/CriarOuAtualizarDevedor"
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/ccb_requests/{id}/update_guarantor": {
      "patch": {
        "tags": [
          "ccb"
        ],
        "summary": "Criar ou Atualizar Avalista",
        "description": "Criar ou Atualizar Avalista",
        "operationId": "CriarOuAtualizarAvalista",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id da CCB",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CriarOuAtualizarAvalistaResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/CriarOuAtualizarAvalista"
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/ccb_requests/{id}/cancel": {
      "post": {
        "tags": [
          "ccb"
        ],
        "summary": "Cancelar",
        "description": "Cancelar CCB",
        "operationId": "Cancelar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id da CCB",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelarResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/ccb_requests/{id}/submit": {
      "post": {
        "tags": [
          "ccb"
        ],
        "summary": "Enviar para Análise",
        "description": "Enviar para Análise",
        "operationId": "EnviarParaAnalise",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id da CCB",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnviarParaAnaliseResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/ccb_requests": {
      "get": {
        "tags": [
          "ccb"
        ],
        "summary": "Listar",
        "description": "Listagem de CCbs",
        "operationId": "Listar",
        "parameters": [
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens para retornar por página",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Página a ser carregada",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s[]",
            "in": "query",
            "description": "Ordena os resultados usando o campo desejado, pode ser asc (crescente) ou desc (decrescente)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "description": "Filtra os resultados usando o campo desejado.",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "createdAtGteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Maior ou igual a"
                },
                "createdAtLteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Menor ou igual a"
                },
                "statusEq": {
                  "type": "string",
                  "example": "pending",
                  "description": "Igual a"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListarResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      },
      "post": {
        "tags": [
          "ccb"
        ],
        "summary": "Criar CCB",
        "description": "Endpoint para criação de CCBs",
        "operationId": "CriarCCB",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CriarCCBResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/CriarCCB"
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/ccb_requests/{id}": {
      "get": {
        "tags": [
          "ccb"
        ],
        "summary": "Exibir",
        "description": "Informações da CCB",
        "operationId": "Exibir",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id da CCB",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExibirResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      },
      "patch": {
        "tags": [
          "ccb"
        ],
        "summary": "Atualizar",
        "description": "Endpoint para atualizar uma CCB.",
        "operationId": "Atualizar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id da CCB",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AtualizarResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/Atualizar"
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/beneficiaries": {
      "post": {
        "tags": [
          "Beneficiários"
        ],
        "summary": "Criar Beneficiário",
        "description": "Criar beneficiário para a conta grafeno",
        "operationId": "CriarBeneficiario",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CriarBeneficiarioResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/CriarBeneficiario"
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      },
      "get": {
        "tags": [
          "Beneficiários"
        ],
        "summary": "Listar Beneficiários",
        "description": "Listar beneficiários da conta Grafeno",
        "operationId": "ListarBeneficiario",
        "parameters": [
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens para retornar por página",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Página a ser carregada",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s[]",
            "in": "query",
            "description": "Ordena os resultados usando o campo desejado, pode ser asc (crescente) ou desc (decrescente)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "description": "Filtra os resultados usando o campo desejado.",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "accountEq": {
                  "type": "string",
                  "example": "109321-2",
                  "description": "Número da conta bancária igual a"
                },
                "agencyEq": {
                  "type": "string",
                  "example": 1,
                  "description": "Número da agência bancária igual a"
                },
                "nameEq": {
                  "type": "string",
                  "example": "Company LTDA",
                  "description": "Nome do beneficiário igual a"
                },
                "nameCont": {
                  "type": "string",
                  "example": "Company LTDA",
                  "description": "Nome do beneficiário contém"
                },
                "documentNumberEq": {
                  "type": "string",
                  "example": 79927166678759,
                  "description": "Documento do beneficiário igual a"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListarBeneficiarioResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/ip_bank_accounts": {
      "get": {
        "tags": [
          "Contas Bancárias"
        ],
        "summary": "Listar Contas Bancárias",
        "description": "Listar contas Grafeno",
        "operationId": "ListarContasBancarias",
        "parameters": [
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens para retornar por página",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Página a ser carregada",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s[]",
            "in": "query",
            "description": "Ordena os resultados usando o campo desejado, pode ser asc (crescente) ou desc (decrescente)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListarContasBancariasResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/balance": {
      "get": {
        "tags": [
          "Contas Bancárias"
        ],
        "summary": "Visualizar Saldo",
        "description": "Obter saldo da conta Grafeno",
        "operationId": "VisualizarSaldo",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "description": "Filtra os resultados usando o campo desejado.",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "entryAtGteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Data maior ou igual a"
                },
                "entryAtLteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Data menor ou igual a"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisualizarSaldoResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/statement_entries": {
      "get": {
        "tags": [
          "Contas Bancárias"
        ],
        "summary": "Listar Movimentações",
        "description": "Listar as movimentações da conta Grafeno",
        "operationId": "ListarMovimentacoes",
        "parameters": [
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens para retornar por página",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Página a ser carregada",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s[]",
            "in": "query",
            "description": "Ordena os resultados usando o campo desejado, pode ser asc (crescente) ou desc (decrescente)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "description": "Filtra os resultados usando o campo desejado.",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "entryAtGteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Data de entrada ou saída maior ou igual a"
                },
                "entryAtLteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Data de entrada ou saída menor ou igual a"
                },
                "valueEq": {
                  "type": "number",
                  "example": 250.45,
                  "description": "Valor da entrada ou saída igual a"
                },
                "valueLt": {
                  "type": "number",
                  "example": 250.45,
                  "description": "Valor da entrada ou saída menor que"
                },
                "valueGt": {
                  "type": "number",
                  "example": 250.45,
                  "description": "Valor da entrada ou saída maior que"
                },
                "valueLteq": {
                  "type": "number",
                  "example": 250.45,
                  "description": "Valor da entrada ou saída menor ou igual a"
                },
                "valueGteq": {
                  "type": "number",
                  "example": 250.45,
                  "description": "Valor da entrada ou saída maior ou igual a"
                },
                "valueNotEq": {
                  "type": "number",
                  "example": 250.45,
                  "description": "Valor da entrada ou saída diferente de"
                },
                "apiPartnerTransactionUuidEq": {
                  "type": "string",
                  "example": "c6f3ba18-1771-4822-a38e-572921f09c19",
                  "description": "Uuid da transferência igual a"
                },
                "apiPartnerTransactionUuidNotEq": {
                  "type": "string",
                  "example": "c6f3ba18-1771-4822-a38e-572921f09c19",
                  "description": "Uuid da transferência diferente de"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListarMovimentacoesResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/charges": {
      "post": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Criar Cobrança",
        "description": "Criar uma cobrança - Boleto bancário",
        "operationId": "CriarCobranca",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CriarCobrancaResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/CriarCobranca"
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/charges/{id}": {
      "get": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Visualizar detalhes de uma cobrança",
        "description": "Visualizar as informações de uma cobrança existente",
        "operationId": "VisualizarCobranca",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Uuid da cobrança",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisualizarCobrancaResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/charges": {
      "get": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Listar Cobranças",
        "description": "Listar cobranças",
        "operationId": "ListarCobrancas",
        "parameters": [
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens para retornar por página",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Página a ser carregada",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s[]",
            "in": "query",
            "description": "Ordena os resultados usando o campo desejado, pode ser asc (crescente) ou desc (decrescente)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "description": "Filtra os resultados usando o campo desejado.",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "paidAtEq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Data de pagamento igual a"
                },
                "paidAtGteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Data de pagamento maior ou igual a"
                },
                "paidAtLteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Data de pagamento menor ou igual a"
                },
                "dueDateEq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Data de vencimento igual a"
                },
                "dueDateGteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Data de vencimento maior ou igual a"
                },
                "dueDateLteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Data de vencimento menor ou igual a"
                },
                "createdAtEq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Data de criação igual a"
                },
                "createdAtGteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Data de criação maior ou igual a"
                },
                "createdAtLteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Data de criação menor ou igual a"
                },
                "statusEq": {
                  "type": "string",
                  "example": "pending",
                  "description": "Status da cobrança igual a"
                },
                "paymentMethodEq": {
                  "type": "string",
                  "example": "pix",
                  "description": "Método de pagamento igual a"
                },
                "yourNumberEq": {
                  "type": "string",
                  "example": 12345678901234,
                  "description": "Seu número igual a"
                },
                "payerDocumentNumberEq": {
                  "type": "string",
                  "example": 69469766000116,
                  "description": "Documento do pagador igual a"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListarCobrancasResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/charges/{id}": {
      "patch": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Atualizar Cobrança",
        "description": "Atualizar uma cobrança existente",
        "operationId": "AtualizarCobranca",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Uuid da cobrança",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AtualizarCobrancaResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/AtualizarCobranca"
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/originators": {
      "get": {
        "tags": [
          "ficha-cadastral"
        ],
        "summary": "Listar Originadores",
        "description": "Listagem dos originadores das contas grafeno",
        "operationId": "ListarOriginadores",
        "parameters": [
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens para retornar por página",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Página a ser carregada",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s[]",
            "in": "query",
            "description": "Ordena os resultados usando o campo desejado, pode ser asc (crescente) ou desc (decrescente)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "description": "Filtra os resultados usando o campo desejado.",
            "required": false,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListarOriginadoresResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/cnab": {
      "get": {
        "tags": [
          "Cobranças"
        ],
        "summary": "Listar CNAB",
        "description": "Listagem de todos os CNAB registrados para a data selecionada.",
        "operationId": "ListarCNAB",
        "parameters": [
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens para retornar por página",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Página a ser carregada",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s[]",
            "in": "query",
            "description": "Ordena os resultados usando o campo desejado, pode ser asc (crescente) ou desc (decrescente)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "description": "Filtra os resultados usando o campo desejado.",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "dateEq": {
                  "type": "string",
                  "example": "2021-01-01",
                  "description": "Igual a"
                },
                "documentNumberEq": {
                  "type": "string",
                  "example": "79927166678759",
                  "description": "Igual a"
                },
                "accountTypeEq": {
                  "type": "string",
                  "example": "company",
                  "description": "Igual a"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListarCNABResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/transfer_requests/pending": {
      "get": {
        "tags": [
          "Transferências Bancárias"
        ],
        "summary": "Listar transferência",
        "description": "Listagem das transferências pendentes",
        "operationId": "ListarTransferencia",
        "parameters": [
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens para retornar por página",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Página a ser carregada",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s[]",
            "in": "query",
            "description": "Ordena os resultados usando o campo desejado, pode ser asc (crescente) ou desc (decrescente)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "description": "Filtra os resultados usando o campo desejado.",
            "required": false,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListarTransferenciaResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/transfer_requests/{id}/update_state": {
      "patch": {
        "tags": [
          "Transferências Bancárias"
        ],
        "summary": "Atualizar transferência",
        "description": "Aprovar ou Rejeitar transferências pendentes",
        "operationId": "AtualizarTransferencia",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UUID da transferência (Identificador da transferência no sistema parceiro que está integrando com a Grafeno)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AtualizarTransferenciaResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/AtualizarTransferencia"
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/transfer_requests": {
      "post": {
        "tags": [
          "Transferências Bancárias"
        ],
        "summary": "Nova transferência",
        "description": "Este endpoint é usado para criar uma transferência no sistema.",
        "operationId": "NovaTransferencia",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NovaTransferenciaResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/NovaTransferencia"
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/webhooks/{id}/update_state": {
      "patch": {
        "tags": [
          "Notificações (webhook)"
        ],
        "summary": "Atualizar Webhook",
        "description": "Ativar ou desativar um webhook existente",
        "operationId": "AtualizarWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Uuid do webhook",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AtualizarWebhookResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/AtualizarWebhook"
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/webhooks": {
      "get": {
        "tags": [
          "Notificações (webhook)"
        ],
        "summary": "Listar Webhooks",
        "description": "Lista todos os Webhooks",
        "operationId": "ListarWebhooks",
        "parameters": [
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens para retornar por página",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Página a ser carregada",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s[]",
            "in": "query",
            "description": "Ordena os resultados usando o campo desejado, pode ser asc (crescente) ou desc (decrescente)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "description": "Filtra os resultados usando o campo desejado.",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "kindEq": {
                  "type": "string",
                  "example": "boleto",
                  "description": "Igual a"
                },
                "createdAtEq": {
                  "type": "string",
                  "example": "2022-12-07",
                  "description": "Igual a"
                },
                "createdAtGteq": {
                  "type": "string",
                  "example": "2022-12-07",
                  "description": "Maior ou igual a"
                },
                "createdAtLteq": {
                  "type": "string",
                  "example": "2022-12-07",
                  "description": "Menor ou igual a"
                },
                "activeEq": {
                  "type": "string",
                  "example": true,
                  "description": "Igual a"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListarWebhooksResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      },
      "post": {
        "tags": [
          "Notificações (webhook)"
        ],
        "summary": "Criar Webhook",
        "description": "Criação de novo webhook",
        "operationId": "CriarWebhook",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CriarWebhookResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/CriarWebhook"
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/webhooks/{id}": {
      "get": {
        "tags": [
          "Notificações (webhook)"
        ],
        "summary": "Visualizar Webhook",
        "description": "Exibe as informações de um webhook existente",
        "operationId": "VisualizarWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Uuid do webhook",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisualizarWebhookResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Notificações (webhook)"
        ],
        "summary": "Remover Webhook",
        "description": "Remove permanentemente um webhook",
        "operationId": "RemoverWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Uuid do webhook",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/ura/check_user": {
      "post": {
        "tags": [
          "check_user"
        ],
        "summary": "Verifica existência do usuário",
        "description": "Endpoint para verificar se usuário está cadastrado no sistema",
        "operationId": "VerificaExistenciaDoUsuario",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificaExistenciaDoUsuarioResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/concessions/assignors/{id}/catching": {
      "post": {
        "tags": [
          "Gestão de Titularidades"
        ],
        "summary": "Capturar títulos",
        "description": "Realiza a captura de títulos de um cedente",
        "operationId": "CapturarTitulos",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id do acesso do cedente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapturarTitulosResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/CapturarTitulos"
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/concessions/assignors/{assignor_id}/charges": {
      "get": {
        "tags": [
          "Gestão de Titularidades"
        ],
        "summary": "Listar Cobranças Disponíveis",
        "description": "Lista todas as cobranças disponíveis para captura",
        "operationId": "ListarCobrancasDisponiveis",
        "parameters": [
          {
            "name": "assignor_id",
            "in": "path",
            "description": "Id do acesso do cedente",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens para retornar por página",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Página a ser carregada",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s[]",
            "in": "query",
            "description": "Ordena os resultados usando o campo desejado, pode ser asc (crescente) ou desc (decrescente)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "description": "Filtra os resultados usando o campo desejado.",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "paymentMethodEq": {
                  "type": "string",
                  "example": "pix",
                  "description": "Igual a"
                },
                "statusEq": {
                  "type": "string",
                  "example": "pending",
                  "description": "Igual a"
                },
                "dueDateEq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Igual a"
                },
                "dueDateGteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Maior ou igual a"
                },
                "dueDateLteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Menor ou igual a"
                },
                "createdAtEq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Igual a"
                },
                "createdAtGteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Maior ou igual a"
                },
                "createdAtLteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Menor ou igual a"
                },
                "payerDocumentNumberEq": {
                  "type": "string",
                  "example": 69469766000116,
                  "description": "Igual a"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListarCobrancasDisponiveisResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/concessions/return": {
      "post": {
        "tags": [
          "Gestão de Titularidades"
        ],
        "summary": "Devolver Títulos",
        "description": "Retorna títulos aos cedentes",
        "operationId": "DevolverTitulos",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/DevolverTitulos"
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/concessions/assignors/{id}/revoke": {
      "patch": {
        "tags": [
          "Cedentes"
        ],
        "summary": "Revoga acesso",
        "description": "Revoga acesso",
        "operationId": "RevogaAcesso",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Uuid da cedente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevogaAcessoResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/concessions/assignors": {
      "get": {
        "tags": [
          "Cedentes"
        ],
        "summary": "Listar cedentes",
        "description": "Lista todas os cedentes",
        "operationId": "ListarCedentes",
        "parameters": [
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens para retornar por página",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Página a ser carregada",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s[]",
            "in": "query",
            "description": "Ordena os resultados usando o campo desejado, pode ser asc (crescente) ou desc (decrescente)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "description": "Filtra os resultados usando o campo desejado.",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "expiresAtEq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Igual a"
                },
                "expiresAtGteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Maior ou igual a"
                },
                "expiresAtLteq": {
                  "type": "string",
                  "example": "2020-01-01",
                  "description": "Menor ou igual a"
                },
                "statusEq": {
                  "type": "string",
                  "example": "pending",
                  "description": "Igual a"
                },
                "documentNumberEq": {
                  "type": "string",
                  "example": 69469766000116,
                  "description": "Igual a"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListarCedentesResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      },
      "post": {
        "tags": [
          "Cedentes"
        ],
        "summary": "Criar cedente",
        "description": "Criação de novo cedente",
        "operationId": "CriarCedente",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CriarCedenteResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          },
          "422": {
            "description": "Não foi possível executar o que foi solicitado, por conter erros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/CriarCedente"
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/concessions/assignors/{id}": {
      "get": {
        "tags": [
          "Cedentes"
        ],
        "summary": "Visualizar Cedente",
        "description": "Exibe as informações de um cedente",
        "operationId": "VisualizarCedente",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Uuid da cedente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisualizarCedenteResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/concessions": {
      "get": {
        "tags": [
          "Gestão de Titularidades"
        ],
        "summary": "Listar Concessões",
        "description": "Lista todas as concessões",
        "operationId": "ListarConcessoes",
        "parameters": [
          {
            "name": "p[per_page]",
            "in": "query",
            "description": "Quantidade de itens para retornar por página",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p[page]",
            "in": "query",
            "description": "Página a ser carregada",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s[]",
            "in": "query",
            "description": "Ordena os resultados usando o campo desejado, pode ser asc (crescente) ou desc (decrescente)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "description": "Filtra os resultados usando o campo desejado.",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "typeEq": {
                  "type": "string",
                  "example": "catching",
                  "description": "Igual a"
                },
                "statusEq": {
                  "type": "string",
                  "example": "pending",
                  "description": "Igual a"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListarConcessoesResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    },
    "/api/v2/concessions/{id}": {
      "get": {
        "tags": [
          "Gestão de Titularidades"
        ],
        "summary": "Detalhes da concessão",
        "description": "Exibe detalhes da concessão",
        "operationId": "DetalhesDaConcessao",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id da concessão",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetalhesDaConcessaoResponseFull"
                }
              }
            },
            "description": "Sucesso!"
          },
          "401": {
            "description": "Você precisa entrar ou registrar-se antes de continuar.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado."
          }
        },
        "security": [
          {
            "Account": [],
            "Authorization": []
          }
        ]
      }
    }
  },
  "components": {
    "requestBodies": {
      "Simular": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "valorLiquido": {
                  "type": "number",
                  "description": "Valor líquido",
                  "example": 60000.12
                },
                "jurosMensal": {
                  "type": "number",
                  "description": "Juros mensal",
                  "example": 2.5
                },
                "parcelas": {
                  "type": "integer",
                  "description": "Parcelas",
                  "example": 13
                },
                "primeiraParcela": {
                  "type": "string",
                  "description": "Primeira parcela",
                  "example": "2021-01-20"
                }
              }
            }
          }
        }
      },
      "EnviarDocumentosDoDevedor": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Tipo do documento a ser enviado",
                  "example": "social_contract_file",
                  "enum": [
                    "social_contract_file",
                    "election_document_file",
                    "dossier_file"
                  ]
                },
                "file": {
                  "type": "string",
                  "description": "Arquivo a ser enviado (encodado em base64)",
                  "example": "R3JhZmVubyDDqSBpbmNyw612ZWw="
                },
                "fileName": {
                  "type": "string",
                  "description": "Nome do Arquivo",
                  "example": "Contrato Social.pdf"
                }
              },
              "required": [
                "type",
                "file",
                "file_name"
              ]
            }
          }
        }
      },
      "EnviarDocumentosDoAvalista": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "guarantorId": {
                  "type": "string",
                  "description": "ID do Avalista",
                  "example": "36229a38-3909-4710-945c-99439e45ee3b"
                },
                "guarantorKind": {
                  "type": "string",
                  "description": "Tipo do Avalista",
                  "example": "person"
                },
                "type": {
                  "type": "string",
                  "description": "Tipo do documento a ser enviado",
                  "example": "social_contract_file",
                  "enum": [
                    "address_proof_file",
                    "identification_document_file",
                    "wedding_certificate_file"
                  ]
                },
                "file": {
                  "type": "string",
                  "description": "Arquivo a ser enviado (encodado em base64)",
                  "example": "R3JhZmVubyDDqSBpbmNyw612ZWw="
                },
                "fileName": {
                  "type": "string",
                  "description": "Nome do Arquivo",
                  "example": "Contrato Social.pdf"
                }
              },
              "required": [
                "guarantor_id",
                "guarantor_kind",
                "type",
                "file",
                "file_name"
              ]
            }
          }
        }
      },
      "CriarOuAtualizarDevedor": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "documentNumber": {
                  "type": "string",
                  "description": "CNPJ",
                  "example": 61909545227821
                },
                "name": {
                  "type": "string",
                  "description": "Nome",
                  "example": "Speedwagon LTDA"
                },
                "email": {
                  "type": "string",
                  "description": "Email corporativo",
                  "example": "support@speedwagon.com"
                },
                "phone": {
                  "type": "string",
                  "description": "Telefone corporativo",
                  "example": "(51) 99211-2111"
                },
                "address": {
                  "$ref": "#/components/schemas/CriarOuAtualizarDevedorAddress"
                },
                "bankAccount": {
                  "$ref": "#/components/schemas/CriarOuAtualizarDevedorBankAccount"
                },
                "signer": {
                  "$ref": "#/components/schemas/CriarOuAtualizarDevedorSigner"
                }
              }
            }
          }
        }
      },
      "CriarOuAtualizarAvalista": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "guarantorKind": {
                  "type": "string",
                  "description": "Tipo do avalista",
                  "example": "person"
                },
                "guarantorId": {
                  "type": "string",
                  "description": "Id do avalista",
                  "example": "422b1824-a4a3-4c1e-b479-542fb5930f66"
                },
                "name": {
                  "type": "string",
                  "description": "Nome do Pagador",
                  "example": "Jotaro Joestar"
                },
                "documentNumber": {
                  "type": "string",
                  "description": "CPF",
                  "example": "01690738154"
                },
                "phone": {
                  "type": "string",
                  "description": "Telefone / Celular",
                  "example": "(51) 99522-1211"
                },
                "email": {
                  "type": "string",
                  "description": "Email",
                  "example": "jotaro@speedwagon.com"
                },
                "maritalStatus": {
                  "type": "string",
                  "description": "Estado Cívil",
                  "example": "married",
                  "enum": [
                    "single",
                    "married",
                    "divorced",
                    "widowed"
                  ]
                },
                "partnerName": {
                  "type": "string",
                  "description": "Nome do cônjuge",
                  "example": "Suzi Q"
                },
                "partnerDocumentNumber": {
                  "type": "string",
                  "description": "CPF do cônjuge",
                  "example": 64768767753
                },
                "partnerEmail": {
                  "type": "string",
                  "description": "E-mail do cônjuge",
                  "example": "suzi_q@speedwagon.com"
                },
                "address": {
                  "$ref": "#/components/schemas/CriarOuAtualizarAvalistaAddress"
                }
              },
              "required": [
                "name",
                "document_number",
                "phone",
                "email",
                "address"
              ]
            }
          }
        }
      },
      "CriarCCB": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "credorId": {
                  "type": "string",
                  "description": "Credor",
                  "example": "38093594-c4f5-417a-942c-3071542d9231"
                },
                "valorLiquido": {
                  "type": "number",
                  "description": "Valor líquido",
                  "example": 60000.25
                },
                "parcelas": {
                  "type": "integer",
                  "description": "Parcelas",
                  "example": 12
                },
                "jurosMensal": {
                  "type": "number",
                  "description": "Juros mensal (em %)",
                  "example": 1.5
                },
                "primeiraParcela": {
                  "type": "string",
                  "description": "Primeira parcela",
                  "example": "2021-12-25"
                },
                "garantiaRecebiveis": {
                  "type": "boolean",
                  "description": "Garantia de recebiveis",
                  "example": true
                }
              },
              "required": [
                "credor_id"
              ]
            }
          }
        }
      },
      "Atualizar": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "credorId": {
                  "type": "string",
                  "description": "Credor",
                  "example": "38093594-c4f5-417a-942c-3071542d9231"
                },
                "valorLiquido": {
                  "type": "number",
                  "description": "Valor líquido",
                  "example": 60000.25
                },
                "parcelas": {
                  "type": "integer",
                  "description": "Parcelas",
                  "example": 12
                },
                "jurosMensal": {
                  "type": "number",
                  "description": "Juros mensal (em %)",
                  "example": 1.5
                },
                "primeiraParcela": {
                  "type": "string",
                  "description": "Primeira parcela",
                  "example": "2021-12-25"
                },
                "garantiaRecebiveis": {
                  "type": "boolean",
                  "description": "Garantia de recebiveis",
                  "example": true
                }
              },
              "required": [
                "credor_id"
              ]
            }
          }
        }
      },
      "CriarBeneficiario": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Nome",
                  "example": "Empresa X LTDA"
                },
                "documentNumber": {
                  "type": "string",
                  "description": "CPF/CNPJ",
                  "example": 26126078000140
                },
                "agency": {
                  "type": "string",
                  "description": "Agência",
                  "example": 1
                },
                "account": {
                  "type": "string",
                  "description": "Conta",
                  "example": "10222-1"
                },
                "bankCode": {
                  "type": "string",
                  "description": "Código do Banco",
                  "example": 1
                }
              },
              "required": [
                "name",
                "document_number",
                "agency",
                "account",
                "bank_code"
              ]
            }
          }
        }
      },
      "CriarCobranca": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "paymentMethod": {
                  "type": "string",
                  "description": "Método de pagamento",
                  "example": "pix"
[...]
